[2016-11-10 21:54] omgjlk opened #1 "Zuul v2.5: Deploy us a server (and make it repeatable)"
We need a Zuul 2.5 environment so we can better understand how it works. To this end, we should work as a team to deploy a Zuul 2.5 server and develop a deployment process that individuals on our team can repeat.

[2016-11-10 21:54] omgjlk opened #2 "Zuul v3: Fix Tests"
Zuul v3 has tests but they don't work. The first step in understanding Zuul v3 and fixing the tests is to group the current tests by feature. This will allow us to more obviously identify coverage gaps, audit redundancies, and enable a more focused deep dive into the Zuul code base. Once we've grouped the tests, individuals can assign themselves test groups to dive in on.

- [ ] Organize tests int

[2016-11-10 21:57] omgjlk opened #3 "Get a Blue Box Cloud"
We need a cloud to run our services on (public facing) as well as capacity for node pool. Our options so far have not panned out, a blue dollar Blue Box Cloud may be just what we need.

We have to figure out sizing of it first.

[2016-11-10 21:57] omgjlk commented on #3
I have sent mail inside of Blue Box to get details about the process.

[2016-11-10 21:59] omgjlk opened #4 "bring up ansible nodepool + zuul on a cloud"
use ansible-role-zuul + ansible-role-nodepool as the basis for a new set of playbooks for bringing up the services locally and on a cloud

[2016-11-11 00:32] pschwartz opened #5 "Open discussion with possible customer for MVP"

[2016-11-11 00:33] #5 closed, assigned to nobody

[2016-11-11 00:33] pschwartz opened #6 "Community Engagment - Node.js Projects"

[2016-11-11 00:33] pschwartz opened #7 "Community Engagement - Rust"

[2016-11-11 00:34] pschwartz opened #8 "Open discussion with possible customer for MVP - ReactJS"

[2016-11-11 00:34] pschwartz opened #9 "Community Engagement - KDE"

[2016-11-11 00:34] pschwartz opened #10 "Community Engagement Vox Pupuli"

[2016-11-11 00:34] pschwartz opened #11 "Open discussion with possible customer for MVP - OpenWhisk"

[2016-11-11 00:34] pschwartz opened #12 "Community Engagement - LibCloud"

[2016-11-11 00:34] pschwartz opened #13 "Open discussion with possible customer for MVP - BlueBox Cloud"

[2016-11-11 00:34] pschwartz opened #14 "Community Engagement - Python Cryptography"

[2016-11-11 00:35] pschwartz opened #15 "Open discussion with possible customer for MVP - HPCC"

[2016-11-11 00:35] pschwartz opened #16 "Investigate tool to run travis.yml locally"

[2016-11-11 00:37] #8 closed, assigned to nobody

[2016-11-11 00:43] missaugustina commented on #6
Greg and I will follow up with our Node.js contacts and create a potential project list.

[2016-11-11 00:45] missaugustina opened #17 "Research log exposure to consumer"
Determine how Zuul 2.5 and 3 currently report on test results

[2016-11-16 22:26] SpamapS commented on #1
Duplicate with #4

[2016-11-16 22:30] SpamapS commented on #11
No internal customers yet

[2016-11-16 22:30] #11 closed, assigned to nobody

[2016-11-16 22:30] SpamapS commented on #13
No internal customers yet

[2016-11-16 22:30] #13 closed, assigned to nobody

[2016-11-16 22:45] #1 closed, assigned to nobody

[2016-11-16 23:05] omgjlk commented on #13
Is Blue Box Cloud really an internal customer, given that ursula code is on public github, and that's what we'd be testing?

[2016-11-17 17:53] omgjlk opened #18 "Create an on boarding document"
We have a lot of info in our head how this project should run, but it hasn't been written anywhere public.

[2016-11-17 18:35] omgjlk commented on #18
A start of this was created with https://github.com/BonnyCI/projman/blob/master/README.md

[2016-11-17 18:35] #18 closed, assigned to omgjlk

[2016-11-17 23:49] missaugustina opened #19 "Create a comprehensive onboarding document for contributors"
Per issue #18 a README was created but it is far from complete. To consider this issue resolved, the onboarding document must:

- [x] contain step by step instructions for creating a development environment

- [x] docs for setting up environment with a vm

- [ ] docs for setting up environment with docker

- [x] explain the code submission and review process

- [x] provide guidance for code submis

[2016-11-17 23:50] missaugustina commented on #18
Created issue #19 to make sure this gets fully completed and vetted.

[2016-11-17 23:55] missaugustina opened #20 "Document Planning Meeting Outcome"
We spent Nov 7-10 together talking about our team and what we want to build. Many notes were taken and even though the majority of folks are pretty clear on what we're doing there still seems to be confusion. To that effect, we should put together an official BonnyCI MVP document that highlights the key points of these discussions and use that as a basis for future discussions.

[2016-11-17 23:56] missaugustina commented on #20
Currently only IBM'ers have access to this. Should we make it available externally or is this going to be an IBM team only document?

https://ibm.box.com/s/xkixcj9u504tpuky3twizqkwtdert57d

[2016-11-18 01:25] missaugustina opened #21 "Create a public project goals/vision document"
We currently have an IBM internal document with our MVP goals, we need to make a public version of this document.

[2016-11-19 00:10] aedocw commented on #21
Agreed - I think once we have everyone on the team review/update/comment on the internal doc we can convert to RST and just throw it in the repo.

[2016-11-23 14:54] nibalizer commented on #10
Contacted!

[2016-11-23 14:54] nibalizer commented on #10
@bastelfreak is hanging out in our channel

[2016-11-30 20:16] #16 closed, assigned to pschwartz

[2016-11-30 20:17] missaugustina commented on #16
Closed because it is complete

[2016-12-02 18:20] missaugustina opened #22 "Add datadog checks for services"
_From @j2sol on November 13, 2016 17:42_

Identify services and implement checks in them.

http://docs.datadoghq.com/guides/agent_checks/

http://docs.datadoghq.com/monitoring/

https://docs.ansible.com/ansible/datadog_monitor_module.html

_Copied from original issue: BonnyCI/hoist#15_

[2016-12-02 18:20] missaugustina commented on #22
_From @j2sol on November 14, 2016 23:42_

#25 is related to this.

[2016-12-02 18:20] missaugustina commented on #22
_From @jesusaurus on November 19, 2016 1:24_

#66 is related to this

[2016-12-02 22:20] missaugustina opened #23 "zuul worker nodes fall off the radar"
_From @j2sol on November 30, 2016 21:24_

Something we're doing in our fast and furious debugging is causing existing nodepool nodes which are zuul workers for given jobs (like echo-true) are falling off the radar. Nodepool knows about them, but zuul does not and jobs will sit indefinitely until we manually boot the nodepool node. We're not doing something right here.

_Copied from original issue:

[2016-12-02 22:21] missaugustina opened #24 "Someone who knows Zuul needs to review our Gearman implementation"
_From @missaugustina on November 23, 2016 21:49_

gearman-job-server role runs gearman as a daemon so we can monitor instead of having zuul boot it, outside of zuul. Justification is that looking at mergers requires a check to see how many are listening, if zuul controls this the monitoring could be flaky.

There is a possible issue with gearman job server vs geard. Geard doesn't work the way zuul

[2016-12-02 22:21] missaugustina commented on #24
_From @nibalizer on November 29, 2016 0:16_

We need to use the python based gearman server. Using a standalone server is fine.

We need to use the ``geard`` from the ``python-gear`` package instead of what we are currently using.

[2016-12-02 22:22] missaugustina opened #25 "Add a layout.yaml check for testing Hoist PR's"
_From @missaugustina on November 23, 2016 21:42_

We currently do a basic syntax check via Travis. We should do a layout check like Openstack Infra does.

_Copied from original issue: BonnyCI/hoist#103_

[2016-12-02 22:22] missaugustina commented on #25
_From @nibalizer on November 23, 2016 21:43_

https://github.com/BonnyCI/hoist/pull/96

[2016-12-02 22:22] missaugustina opened #26 "Figure out production monitoring"
_From @missaugustina on November 23, 2016 21:41_

What metrics and monitoring would this need in production?

So far we've come up with:
- zuul: merger count
- nodepool:
    - total instance count
    - ratio of (building + deleting) to (ready + in-use) instances

_Copied from original issue: BonnyCI/hoist#102_

[2016-12-02 22:22] missaugustina opened #27 "We need some Data Dog Dashboards (DDD?)"
_From @missaugustina on November 23, 2016 21:40_

For now, we need something for current developers built around monitors. Down the road we'll need something for operators.

_Copied from original issue: BonnyCI/hoist#101_

[2016-12-02 22:23] missaugustina opened #28 "Figure out system log publishing"
_From @missaugustina on November 23, 2016 21:38_

where are the logs for our stuff that's running?

- [ ] system logs (ansible crons)
- [x] daemon logs (nodepool, zuul)
- [x] drop debug logs (too noisy)
- [x] Spike on aggregating logs on a single host
- [x] Consider an ELK stack in addition
- [ ] Tune log parsing for our service logs

_Copied from original issue: BonnyCI/hoist#99_

[2016-12-02 22:24] missaugustina opened #29 "Improve security group settings"
_From @j2sol on November 22, 2016 21:55_

Currently every CI node we create in `create-hosts.yml` is getting the `default` security group. Additionally the `default` group has been set to allow incoming port 22 and 80 across the board, which is inappropriate.

If we must have 22, I propose we create a new "default" security group for our systems that opens 22, and we create additional security gro

[2016-12-02 22:24] missaugustina commented on #29
_From @j2sol on November 23, 2016 23:3_

I just opened `8001` in the default group, an incoming port for zuul getting web hooks.

[2016-12-02 22:24] missaugustina opened #30 "need to validate deployment against a gerrit"
_From @gandelman-a on November 21, 2016 21:39_

before messing with github integration, we need to point the CI deployment at an existing gerrit to validate basic functionality of v2.5: event processing, tests running, results posting, nodepool nodepooling.

nibz suggests we can use review.portbleu.com as a sandbox. we need a bot user created there and a preferably a project to run against.

_Copi

[2016-12-02 22:24] missaugustina commented on #30
_From @nibalizer on November 22, 2016 19:46_

I've created a service user on a gerrit. The zuul user has an ssh key authorized on this gerrit user.

[2016-12-02 22:24] missaugustina opened #31 "Need an easy way to test changes locally"
_From @jesusaurus on November 21, 2016 19:57_

Developers should have an easy and simple means of local testing.

_Copied from original issue: BonnyCI/hoist#72_

[2016-12-02 22:24] missaugustina commented on #31
I went ahead and assigned this since it sounds like you're playing around with Vagrant to make this a reality. I'm adding myself to it too since I'm trying to better document the setup steps.

[2016-12-02 22:24] missaugustina commented on #31
_From @j2sol on November 23, 2016 1:47_

Some things I'm running into.

- monitoring calls that hit data dog will fail unless a secret key is in place. Need to skip those, but do the rest of monitoring.
- nodepool role default references a cloud not configured in example secrets
- bastion role requirement hardcodes a cloud not configured in example secrets

[2016-12-02 22:24] missaugustina commented on #31
_From @j2sol on November 23, 2016 1:48_

This may be fixed, or partially fixed, by #93

[2016-12-02 22:26] missaugustina opened #32 "Add Nodepool monitoring to data dog"
_From @missaugustina on November 18, 2016 23:43_

Currently need to know if nodepool is running or not. Nodepool provides monitoring data via statsd. We don't yet know what additional monitoring data we want.

Addtionally: are nodepool images building?

_Copied from original issue: BonnyCI/hoist#62_

[2016-12-02 22:26] missaugustina commented on #32
_From @jamielennox on November 21, 2016 1:47_

#64 covers some of the statsd part of this as it's basically the same as zuul. For additional monitoring it looks like there is a nodepool webapp status at http://locahost:8005/image-list and /dib-image-list. This port or bind ip is not configurable and we should fix that upstream. Also the response is exactly the same as the PrettyTable formatted "no

[2016-12-02 22:26] missaugustina commented on #32
Working on getting a local hoist VM spun up so I can work on this

[2016-12-02 22:26] missaugustina commented on #32
VM thing is not happening so just working on adding the role and following the pattern for the dd-zuul stuff.

[2016-12-02 22:26] missaugustina commented on #32
I have changes for this I will push when I get a chance. I still need to test it on a working VM.

[2016-12-02 22:26] missaugustina opened #33 "zuul, nodepool, other service logs need to be exposed somewhere"
_From @gandelman-a on November 17, 2016 18:7_

Zuul and nodepool are both running on nodes behind the bastion.  Their log files, and those of other services running on those inner nodes, need to be exposed somewhere to the outside world.

_Copied from original issue: BonnyCI/hoist#49_

[2016-12-02 22:26] missaugustina opened #34 "First-time setup of inventory hosts from bastion cron causes failure (known_hosts)"
_From @rattboi on November 16, 2016 2:13_

When ansible attempts to connect for the first time to a host in the inventory on a new bastion, the known_hosts file is missing entries for these hosts, and attempts to interactively ask if you're ok with the host key.

Since this is from cron, the interactive aspect fails, and so the hosts are never properly registered.

Note that this is default behavi

[2016-12-02 22:26] missaugustina opened #35 "deploy user ssh keys need to live somewhere"
_From @gandelman-a on November 15, 2016 22:52_

this could be part of https://github.com/BonnyCI/hoist/issues/18

when provisioning a bastion from scratch, the deploy user (currently 'cideploy') needs ssh keys generated or installed so that it can reach the infrastructure its managing (the zuul and nodepool nodes)

we can add this to secrets.yml (or whatever that turns into), but the cideploy user

[2016-12-02 22:27] missaugustina opened #36 "Improve pip role"
_From @j2sol on November 14, 2016 20:55_

There are a couple issues with pip role that should be addressed:

- [ ] pip install script is downloaded and executed without any validation
- [ ] pip install script is ran every playbook execution

We should discuss how to address these in the near future.

_Copied from original issue: BonnyCI/hoist#20_

[2016-12-02 22:27] missaugustina commented on #36
_From @SpamapS on November 16, 2016 22:32_

Vendored and done

[2016-12-02 22:27] missaugustina commented on #36
_From @rattboi on November 16, 2016 23:27_

Vendored, but needs some improvements.

[2016-12-02 22:27] missaugustina opened #37 "Improve secrets management"
_From @j2sol on November 14, 2016 20:46_

Currently we have a plain text secrets file that we hand copy from bastion to bastion. This is a bit scary as it sits in plain text on whatever filesystem it happens to be copied to.

I propose we instead encrypt this file with ansible vault. This allows the file to remain encrypted at rest, and we simply have to write a passphrase to the filesystem of the

[2016-12-02 22:27] missaugustina commented on #37
_From @j2sol on November 18, 2016 0:29_

Secrets are now vault protected on the filesystem, with just a passphrase written out. Other work related to this issue can continue.

[2016-12-02 22:33] missaugustina commented on #3
Per last planning meeting, looks like the next step is to follow up with Colette and find out if there's anything we need to do on our side.

11/23:
- jlk: on hold, right ppl are talking, quote in colette's hands, flying under the radar on current clouds, haven't hit capacity yet, so not immediate concern
- currently on a shared bluebox, how much capacity do we have? jlk: we have a quota... lookin

[2016-12-03 03:28] rattboi opened #38 "Random non-idempotent ansible tasks"
As we are right now, every run of system-ansible has 14 changes at stable state, and cideploy has 5 (3 on one host, 2 on another). It'd be nice to get that down to zero.

I enabled even more verbose logs for a minute, and here are links to those, which should help figure out before/after things.

System Ansible: http://contrasjc-bastion.portbleu.com/cron-logs/system-ansible/ansible_bastion.yml_201

[2016-12-07 01:42] missaugustina opened #39 "Hoist -> GHE"
Move hoist to ghe

- [x] add API key to Hoist secrets so we can clone
- [x] need to figure out how to link issues and metadata (auggy)
- [x] delete from github

[2016-12-07 01:42] missaugustina commented on #39
Done!

[2016-12-07 01:42] #39 closed, assigned to missaugustina, nibalizer

[2016-12-07 01:46] missaugustina commented on #14
Confirmed with dstufft, Python Cryptography is interested.

From dstufft: So Alex said he probably won't have much available time to help out much, but if cryptography can help they'd be more than willing to. Paul currently manages the Jenkins CI stuff that is running too so I suspect he'll be useful too. sounds like in general folks are open to trying to help out as their time permits. What might

[2016-12-07 01:53] missaugustina commented on #10
Update: I will get info from nibz and follow up on the CI usage stuff.

[2016-12-07 02:08] missaugustina opened #40 "Hoist -> GHE"
Move hoist to ghe

- [x]  add API key to Hoist secrets so we can clone
- [x]  need to figure out how to link issues and metadata (auggy)
- [x]  delete from github

[2016-12-07 02:38] #40 closed, assigned to nobody

[2016-12-07 03:36] missaugustina opened #41 "Document system design and architecture"
Document system workflow, where things are and where to look for issues (almost time to design user experience, we should write down what we want not what we do)

[2016-12-07 03:36] missaugustina opened #42 "Design sign up workflow"
What will the user see and how will they sign up to use the service?

Original spec is that it will be manual, just like Zuul.

[2016-12-07 03:40] missaugustina commented on #37
Notes from last planning meeting:

- next steps? brought credentials into a single place but encrypting the file made things more complicated, does it need to be encrypted? what's next?
- what if we just don't encrypt the file right now?
- shouldn't be in the gitrepo, but it's convenient; where else should it be?
- encrypt it once, copy it to where it was, decrypt, then make ansible vault not fire

[2016-12-07 03:44] missaugustina opened #43 "Nodes will eventually run out of IPv4 addresses"
ssh proxy, v6 tunnel (or non v6 tunnel), or grandstand about having enough public v4

- upstream doesnt support running without public ip's everywhere, so IMO as long as its super low cost then we're fine to do it (see if config files or something super cheap works) but we shouldnt rely on anything requiring much effort which is going to make us diverge
- please let's not rely on proxies if we can

[2016-12-07 04:01] missaugustina opened #44 "make a github -> gerrit shim"

[2016-12-07 04:01] missaugustina opened #45 "solve ability to define jobs in-repo"
Right now any project that gets gated needs to have its gate tests defined in hoist but we want a project to have its own tests similar to the travis.yaml model.

[2016-12-07 04:01] missaugustina opened #46 "Make zuul github reporter"

[2016-12-07 04:02] missaugustina opened #47 "investigate github zuul patch set"

[2016-12-07 04:22] missaugustina opened #48 "Research Bluemix Continuous Delivery"
- https://www.ibm.com/blogs/bluemix/2016/11/bluemix-continuous-delivery-is-now-live/

[2016-12-07 19:59] missaugustina opened #49 "Test the CI"
- [x] Syntax check via TravisCI
- [x] Zuul layout check
- [x] Run CI twice, check changed is what we expect (might not be 0)

[2016-12-07 20:02] missaugustina opened #50 "Validate BonnyCI Deployment"
- forked Zuul with Github integration patches applied
- runs automatically when PR submit/reopen

- [ ] Gerrit sandbox no-op
- [x] Github sandbox no-op
- [x] Github echo true
- [ ] Redeploy from scratch
- [x] Hoist on BonnyCI
- [x] Github repo: Basic Python repo with tests
- [ ] Github repo: Python Crypto
- [ ] Github repo: Basic repo, non-python

[2016-12-07 23:12] missaugustina opened #51 "Figure out Key Management - SSH user keys, deploy keys, host keys"
using deploy key from within ghe, having ssh key verification issues, tried to add the key back into hoist repo, said key already existed (same key was used with seedci repo), can only use one key per repo per org?

[2016-12-07 23:14] missaugustina opened #52 "Create a Zuul status web page (like OpenStack Infra)"
Generated by what's in zuul git, infra team does symlinking in puppet and throws it on apache

https://github.com/openstack-infra/puppet-zuul/blob/master/manifests/init.pp#L319

http://zuul.openstack.org/

[2016-12-07 23:18] missaugustina opened #53 "Explore alternative routes for project activity reporting based on github data and activity in other sources"
auggy has been exploring integration options between github/trello
problem: ghe code can't reference gh issues in projman, poop deck doesn't update

-     "Can we find work to do?"
-     "Can we indicate what we're working on?"
-     "Can we indicate we're blocked?"
-     "Can we discover who's blocked on what?"
-     big picture view so we make sure we're not missing things

 Short spike on takin

[2016-12-07 23:26] missaugustina commented on #48
Initial research suggests this is targeting application developers with hosted web apps (like Nodejs stuff). I'm still digging through the docs and working on setting up a build pipeline to see what build and gating options they offer. My suspicion is it's pretty limited based on the docs I've found that talk about it, but we'll see!

Per meeting feedback, I have an internal IBM contact to follow

[2016-12-09 00:23] missaugustina commented on #52
I really think we should call it the "poop cabin".

Poop cabin - A room built on the top deck of a ship, often the Captain’s.

[2016-12-09 00:24] missaugustina commented on #48
@SpamapS emailed our IBM contact and cc'ed me.

[2016-12-12 02:53] jamielennox commented on #26
Repo created with monitors at https://github.com/BonnyCI/datadog-monitors/ based on tool at https://github.com/BonnyCI/datadog-builder

[2016-12-12 19:19] missaugustina commented on #32
I have a change up in the hoist repo but need to focus my attention on customer research things. If someone else wants to pick this up, feel free!

[2016-12-12 21:34] missaugustina commented on #53
Pushed a repo for this to GHE due to corporate open source licensing issues.

[2016-12-13 20:40] omgjlk opened #54 "Create a source cloning builder in zuul"
In zuul 2.5 there is nothing built in to get the project source onto the node to do things with it. We need to create our own tooling to accomplish this.

[2016-12-13 21:30] omgjlk commented on #54
https://github.ibm.com/OpenStackInnovation/hoist/pull/59 has been opened for this.

[2016-12-14 18:15] omgjlk commented on #54
Merged.

[2016-12-14 18:15] #54 closed, assigned to omgjlk

[2016-12-14 18:22] omgjlk commented on #2
Closing this, work has already happened upstream for this.

[2016-12-14 18:22] #2 closed, assigned to nobody

[2016-12-14 18:26] omgjlk opened #55 "Use os-loganalyze from openstack infra (or something similiar) to make zuul job "console.html" files display nicely."
Our console.html right now looks like poop.

http://logs.bonnyci.com/logs/1/1/d4ff2139f57a78bd924fdfa33103739e8783ee1b/check_github/tox_py27/5739c46/console.html

vs say

http://logs.openstack.org/ff/ffc151b21b86b9bb5741b8402c38326e041c6963/post/static-governance-publish/08e5927/console.html

[2016-12-14 18:26] omgjlk commented on #17
Some investigation went into this already, which has led to a log server being created https://github.ibm.com/OpenStackInnovation/hoist/pull/61 and set up https://github.ibm.com/OpenStackInnovation/hoist/pull/64 however there is more work needed here, eg #55

[2016-12-14 18:35] omgjlk commented on #4
This is done.

[2016-12-14 18:35] #4 closed, assigned to greghaynes, gandelman-a

[2016-12-14 18:35] omgjlk commented on #7
This has been moved to done on the poop deck, can it be closed here?

[2016-12-14 18:43] omgjlk commented on #47
So we've investigated these a bunch, and we're using them, commenting on them upstream, and in some cases adding to them. I think we can consider this work item closed.

[2016-12-14 18:43] #47 closed, assigned to nobody

[2016-12-14 18:49] omgjlk commented on #34
I think this was handled by https://github.ibm.com/OpenStackInnovation/hoist/pull/57

We'll re-open after our next complete tear down and rebuild if it is not fixed.

[2016-12-14 18:49] #34 closed, assigned to nobody

[2016-12-14 18:50] omgjlk commented on #31
https://github.ibm.com/OpenStackInnovation/hoist/pull/52 may also assist in fixing this.

[2016-12-14 18:51] omgjlk commented on #24
We've made some changes here. We are now using the gearman launched from zuul, to match what upstream has going on. I think we can consider this closed.

[2016-12-14 18:51] #24 closed, assigned to nibalizer

[2016-12-14 19:05] omgjlk commented on #37
Current status:

- File is not encrypted
- File is not stored anywhere but on the production nodes
- It appears that all secrets are being stored in the one file and used from there to write out other files.

Future needs:

- Back it up
- Track changes (at least indicate when it was edited and what was changed, even if old value is not tracked)

[2016-12-14 19:06] omgjlk commented on #52
Picking this up to poke at.

[2016-12-14 19:43] omgjlk commented on #52
Wow, so uh... this may be more work than it should be. jquery-visibiilty, graphitejs, twitter bootstrap, libjs-jquery, hard to tell what's required, what's part of zuul's built in status page, vs the one that infra builds up itself ( https://zuul.openstack.org vs https://status.openstack.org/zuul )

More investigation is needed, putting this back on the backlog.

[2016-12-14 20:40] missaugustina commented on #32
See hoist/pull/37

[2016-12-15 20:45] missaugustina opened #56 "Collect CI usage statistics from public projects using TravisCI"
See the ci-plunder project

[2016-12-15 21:16] rattboi opened #57 "Create ARA role for bastion"
The ansible logs on the bastion leave a lot to be desired. They are hard to read and figure out, especially after being stripped of color.

ARA (Ansible Run Analysis) is a small set of tools to help with analysis of ansible runs. I've done some simple tests locally, and it is pretty slick.

Adding this to the bastion would be to our benefit, I believe.

[2016-12-15 21:21] missaugustina commented on #14
via cryptography-dev:

Hi Augustina,

cryptography's needs are a bit unusual. Since we depend on the underlying OS/distribution to provide us with OpenSSL (or commoncrypto on the macOS side) and we compile against a library that has a somewhat checkered past with versioning we have to test against numerous configurations. To achieve the coverage we want we currently use two different CI systems an

[2016-12-15 21:24] missaugustina commented on #14
Next step:

- evaluate their current pipeline and come up with some quantitative metrics to better illustrate key points in the response
- collect the data identified ^^
- follow up with any clarifying questions

[2016-12-15 21:46] missaugustina commented on #15
Per discussion with Phil, right now we only have one point of contact for this group and he's working on changing that. After requesting status updates to this ticket, I'm closing this until we have any further information. Please reopen with updates if there is any further development.

[2016-12-15 21:46] #15 closed, assigned to pschwartz

[2016-12-15 21:47] missaugustina commented on #7
Rust said they were not interested beta testing. It's not clear if the person who spoke with them also tried to talk about their current CI usage. That might be worth a follow-up.

[2016-12-15 21:50] missaugustina commented on #6
Several attempts to contact my former coworker who works with the Nodejs community have failed. Putting this on the backburner until I have further leads in this area.

[2016-12-15 21:51] missaugustina opened #58 "Community Engagement - Metacpan API"
Reach out to Metacpan community.

[2016-12-15 21:53] missaugustina commented on #58
Hi Augustina,

I like

* the integration with GitHub pull requests
* the IRC hooks
* the perl-helpers support, so that we can define a matrix of Perls to build against.  Not crucial for MetaCPAN but nice for CPAN modules

I've been using Wercker for a personal project and I really like that it allows you to run your private repositories and also three concurrent builds.  When we had a hackathon a

[2016-12-15 21:55] missaugustina commented on #53
BonnyCI/shuffleboard lives here now!

[2016-12-16 23:26] omgjlk opened #59 "Enable BonnyCI to test hoist"
A few things need to happen outside of code. Filing the issue to track the changes made.

- [x] Give anne-bonny write access to hoist (for status and merge)
- [x] Set up webhook to send stuff to bonny
- [x] Create "approved" label to trigger gate / merge
- [x] Make sure anne bonny can merge to protected branch

[2016-12-16 23:33] omgjlk commented on #59
This was all done by me.

[2016-12-16 23:40] omgjlk opened #60 "Add hoist as a project"
We've got a CI system, let's CI ourselves.

[2016-12-17 00:02] #60 closed, assigned to nobody

[2016-12-17 00:39] omgjlk opened #61 "Errors merging code from hoist PR"
Tried to get zuul to test an open PR (with a `recheck` comment). Merger failed to create a zuul reference.

[code]

I think we're missing a zuul setting somewhere.

This was from testing PR https://github.com/BonnyCI/hoist/pull/10

[2016-12-17 01:00] omgjlk commented on #59
Master branch of hoist was set so that only organization admins/owners could merge. I explicitly added the robots group which has anne bonny.

[2016-12-17 01:00] #59 closed, assigned to omgjlk

[2016-12-17 01:38] omgjlk commented on #61
After a restart of zuul-merger once deployed, I was able to get a passing check on a PR that was not directly on top of upstream master.

https://github.com/BonnyCI/hoist/pull/12

[2016-12-17 01:38] #61 closed, assigned to omgjlk

[2016-12-19 21:24] missaugustina commented on #50
Basic Python Repo with tests: checked against giftwrap (in project)

[2016-12-19 21:39] loafyloaf commented on #32
See public github hoist/pull/16

[2016-12-19 22:43] #30 closed, assigned to nibalizer

[2016-12-19 22:46] missaugustina commented on #33
This looks like it's a duplicate of Issue #28

[2016-12-19 22:46] missaugustina commented on #28
Looks like this got duplicated by Issue #33

[2016-12-19 22:58] #25 closed, assigned to nibalizer

[2016-12-19 23:00] #17 closed, assigned to rmoe, missaugustina

[2016-12-19 23:05] #44 closed, assigned to nobody

[2016-12-20 01:07] omgjlk opened #62 "Sending HUP signal to zuul-server causes gearman issues"
We started sending SIGHUP to zuul-server to get it to re-read layout.yaml, however sometime recently this has been sending parts of zuul into error state with regard to gearman. It may have to do with now running gearman from zuul directly, and the HUP handler isn't handling gearman properly. This needs investigation as any change to layout will cause the ansible handler to send HUP which will put

[2016-12-21 20:25] missaugustina opened #64 "BonnyCI Service Outage - Nodepool was unable to login to DIB images"
Issue Summary:

Timeline:
- how was the outage discovered?
- what steps were taken to restore service?
- what steps were taken to find root cause?
- when was service restored?

Root Cause Analysis:

Next Steps:

Further information:
https://review.openstack.org/#/c/413487/

[2016-12-22 01:02] jamielennox commented on #64
The root cause is interesting, but complex and from our perspective can be boiled down to DIB creating a bad image. The DIB image completed and was uploaded by nodepool but nodepool couldn't log in to it.

This is bad nodepool behaviour. When nodepool couldn't boot an instance with this new image it would assume networking problems, take down the new node and try to rebuild another one - with the

[2016-12-22 21:13] loafyloaf commented on #32
high-level status dashboard available here:

https://p.datadoghq.com/sb/cbf19e221-1b77fb05f2

[2016-12-23 00:15] omgjlk commented on #55
Related PR: https://github.com/BonnyCI/hoist/pull/21

[2016-12-23 00:43] omgjlk commented on #55
Another related PR: https://github.com/BonnyCI/hoist/pull/22

[2016-12-25 06:12] missaugustina commented on #64
Before this issue can be closed, we need to create issues to track the additional work items mentioned. Thanks for the great write up Jamie!

[2016-12-25 20:40] missaugustina opened #65 "Interview CI users"
See ci-plunder

[2016-12-25 20:41] missaugustina commented on #65
Currently using Google Forms as a template for questions and to record responses to emails and IRC dialogues:
https://goo.gl/forms/evu5Ww9m27cO4lzt1

[2017-01-03 21:38] omgjlk commented on #36
Can we get clarity in what needs to be improved before moving?

[2017-01-03 22:45] missaugustina commented on #48
Emailed the authors of the linked article to see if I could either get info from them or if they knew who to talk to.

[2017-01-03 22:46] #6 closed, assigned to greghaynes, missaugustina

[2017-01-03 22:46] #7 closed, assigned to nobody

[2017-01-03 22:46] #9 closed, assigned to nobody

[2017-01-03 22:46] #10 closed, assigned to missaugustina, nibalizer

[2017-01-03 22:46] #12 closed, assigned to nobody

[2017-01-03 22:46] #14 closed, assigned to missaugustina

[2017-01-03 22:46] #58 closed, assigned to missaugustina

[2017-01-04 00:51] #62 closed, assigned to jamielennox

[2017-01-04 19:32] missaugustina commented on #48
Got a response and now have a conversation going with them.

[2017-01-04 19:35] missaugustina commented on #20
This needs to be part of a larger team planning discussion.

[2017-01-04 20:58] missaugustina opened #66 "Collect Metrics on BonnyCI"
Start implementing checks for different things we want to check in BonnyCI. This is different from monitoring checks but not necessarily mutually exclusive (there will likely be overlap).

Currently, there is research to collect metrics from projects on TravisCI. We should collect similar metrics from BonnyCI. Obviously this won't really be useful until we have users, but it's something we can sta

[2017-01-04 21:49] jesusaurus commented on #66
A couple of things that make sense for Bonny but not for Travis are:
- Longest and mean dependency chain length (how heavily are people using depends-on?)
- Gate reset frequency (failures in a gate pipeline that cause other jobs to restart)

[2017-01-04 23:10] ConsoleCatzirl commented on #66
We may also want to look at:
- Wait time (time between job trigger and job start)
- Number of test nodes used per hour? day?

And a couple of things that make sense for Bonny but not for Travis are:
- Longest and mean dependency chain length (how heavily are people using depends-on?)
- Gate reset frequency (failures in a gate pipeline that cause other jobs to restart)

[2017-01-07 04:38] #48 closed, assigned to missaugustina

[2017-01-07 04:38] #56 closed, assigned to missaugustina

[2017-01-07 04:38] #65 closed, assigned to missaugustina

[2017-01-09 18:18] omgjlk commented on #55
Both PRs merged, closing this issue.

[2017-01-09 18:18] #55 closed, assigned to jamielennox

[2017-01-09 18:19] omgjlk commented on #50
Not sure why this was added to https://github.com/BonnyCI/projman/milestone/2  Seems beyond the scope of the milestone itself.

[2017-01-09 18:51] missaugustina opened #67 "Instructions for BonnyCI admins on how to add a project to BonnyCI"

[2017-01-09 18:57] omgjlk opened #68 "Decide on github integration strategy for MVP"
We can, with a small amount of code change, use Github's official "Integration" system, which smooths the process for on-boarding a new repo.

Or, we can continue to use manually set up web hooks and user rights.

This needs to be decided before we can write documentation on on boarding projects.

[2017-01-09 19:28] ConsoleCatzirl commented on #33
Issue #28 has a larger scope than this issue, this is more of an implementation of a single subtask of #28

[2017-01-09 19:37] omgjlk opened #69 "Errors running check_hoist -- certificate invalid"
Seeing this failure in our check_hoist runs: http://logs.bonnyci.com/check_github/BonnyCI/hoist/43/1483938142.11/ubuntu-hoist/console.html#_2017-01-09_05_04_13_536129

[code]

This is blocking our testing of our own repo.

[2017-01-09 19:38] #32 closed, assigned to loafyloaf

[2017-01-09 19:45] omgjlk commented on #51
We're no longer making use of GHE, so we don't need that part any more.

As for cloning private repos from github, I believe we have a path forward with using integration tokens for short-lived access.

[2017-01-09 19:48] omgjlk commented on #51
Is anybody still unhappy with the way ssh keys are managed (for bastion to nodes, and for zuul/nodepool interaction)?

[2017-01-09 20:00] omgjlk commented on #42
Related to #68

[2017-01-09 20:05] loafyloaf commented on #27
high-level status dashboard available here:

https://p.datadoghq.com/sb/cbf19e221-1b77fb05f2

[2017-01-09 22:11] loafyloaf commented on #27
other boards:
zuul - https://p.datadoghq.com/sb/cbf19e221-f4857162ed
nodepool - https://p.datadoghq.com/sb/cbf19e221-504328f60a

note: these are the public urls for these dashboards.  anyone in our group should also be able to see them listed under 'Dashboard List' in their datadog account

[2017-01-09 22:40] jamielennox commented on #69
Should be fixed by BonnyCI/hoist#46.

Basically we didn't have enough entropy in the newly booted vm and so the SSL handshake failed. I also added ansible/ansible#20025 for better debugging information here.

[2017-01-09 22:41] #69 closed, assigned to nobody

[2017-01-09 23:33] omgjlk opened #70 "contra-sjc reference used in ubuntu-hoist"
The job errors out with http://logs.bonnyci.com/check_github/BonnyCI/hoist/40/1483996133.51/ubuntu-hoist/console.html#_2017-01-09_21_12_43_618761

The contra-sjc reference is coming from `inventory/group_vars/all` and/or `roles/nodepool/defaults/main.yml`.

[2017-01-09 23:51] omgjlk commented on #51
Nobody was unhappy, closing.

[2017-01-09 23:51] #51 closed, assigned to jamielennox, omgjlk

[2017-01-10 22:04] omgjlk commented on #70
This appears to be resolved with https://github.com/BonnyCI/hoist/pull/48

[2017-01-10 22:04] #70 closed, assigned to nobody

[2017-01-11 18:53] omgjlk opened #71 "Docker synchronize cannot be used with become"
Ran into this with https://github.com/BonnyCI/hoist/pull/52

Basically https://github.com/ansible/ansible/issues/20117

We want to switch to using become with docker, as the way we were doing things without become is breaking some stuff.

[2017-01-11 19:06] omgjlk opened #72 "ubuntu-hoist job failing part way through to reach node pool node"
http://logs.bonnyci.com/check_github/BonnyCI/hoist/53/1484160830.89/ubuntu-hoist/console.html#_2017-01-11_18_58_26_283529

[code]

Tasks just prior to this are able to reach the node, something is changing in how we're communicating.

Should be fixed by https://github.com/BonnyCI/hoist/pull/52

[2017-01-11 20:21] omgjlk opened #73 "Github integration trigger on X-GitHub-Event: pull_request_review"
Github sends a `X-GitHub-Event: pull_request_review` when somebody adds a pull request review. We would like zuul to react to this as a potential trigger for things like check/gate.

Details at https://developer.github.com/v3/activity/events/types/#pullrequestreviewevent

[2017-01-11 20:32] omgjlk opened #74 "Github require review approval capability for trigger"
With Gerrit, a pipeline can require approval, which is where humans can give +2/workflow+1 before gating happens in gerrit. With github, no such capability exists.

With recent additions to github API, we can now query a PR for all the reviews that have been provided ( https://developer.github.com/v3/pulls/reviews/ ). This should allow us to query a PR on potential trigger event and check the revi

[2017-01-11 20:37] omgjlk opened #75 "Github require status support on pipeline requirements"
In a pipeline, require / reject can look at status. In gerrit this status could be NEW or MERGED or whatever, but in Github, there is just success/pending/failure for a status. On a gate pipeline, we'd like to require that the check status we provide is in success state.

https://developer.github.com/v3/repos/statuses/

Statuses are attached to commits, and for a PR we need to know the commit stat

[2017-01-11 21:43] #71 closed, assigned to jamielennox, omgjlk

[2017-01-11 22:11] omgjlk opened #76 "Github integration trigger on status"
Github sends a`status` event when a status is posted to a hash on a PR. We would like zuul to react to this as a potential trigger for things like check/gate.

Details at https://developer.github.com/v3/activity/events/types/#statusevent

We probably need configuration to filter on `name` and `context`, and to ensure that the status is for the tip of the PR before accepting it as a trigger.

[2017-01-11 22:22] omgjlk commented on #73
For simplicity sake, we should only trigger on a status of `APPROVED`.

[2017-01-12 00:21] j2sol commented on #73
Looking at the code, we'll need to create the `_event_pull_request_review` method in `zuul/connection/github.py` within the class `GithubWebhookListener`.

Additionally, we need to look up the user to see if they are a collaborator on the repo itself. https://developer.github.com/v3/repos/collaborators/#review-a-users-permission-level

github3 library has a way to do this by way of a Repository ob

[2017-01-12 22:29] omgjlk commented on #73
Taking a stab at this.

[2017-01-12 23:02] omgjlk commented on #73
Submitted this upstream https://review.openstack.org/#/c/419684/

[2017-01-14 01:08] omgjlk commented on #74
related: https://github.com/sigmavirus24/github3.py/issues/666

[2017-01-16 23:02] omgjlk opened #77 "Use github integration instead of manual web hook configuration"
We have a Github Integration ( https://github.com/integration/bonnyci ). We'd like to use this instead of manually configured web hooks.

The code in our install of zuul supports this, but we need to do a few things before it can go live:

- [ ] Add key and integration ID to secrets
- [ ] Remove existing web hook configuration in current watched repos and install integration instead

[2017-01-16 23:09] omgjlk commented on #77
We're waiting until after demo on January 19 before making the change.

[2017-01-18 20:43] omgjlk opened #81 "New project on-boarding documentation"
Once we are using github integrations, we need to document how to on-board a new project so that we start getting their web hooks, and running tests.

[2017-01-18 20:49] omgjlk opened #82 "Document status page meanings"
There's a lot of stuff there, end users may not understand what they are looking at. We need a good doc to hold their hand through it.

[2017-01-18 20:50] omgjlk opened #83 "Propose designs for first-pass in-repo job definition"
We need some ideas presented and debated before coding this up.

[2017-01-18 20:57] omgjlk opened #84 "Document the BonnyCI workflow"
Describe what happens when a pull request is opened and how it gets tested, approved, gated, merged. Crib from the upstream OpenStack zuul/gerrit developer docs.

[2017-01-18 21:00] omgjlk opened #85 "Document why CI matters, and how BonnyCI differentiates from other offerings"
Include research info on effective CI for projects, and our features that do not exist elsewhere.

[2017-01-18 21:03] omgjlk opened #86 "Document contributor on-boarding process"
We have a different audience, where people want to contribute to make BonnyCI (and the tools it uses) better. We need to document how people can join in the fun.

[2017-01-18 21:03] missaugustina commented on #85
For MVP much of this might be unsubstantiated, but I'll at least write up our hypotheses and add some footnotes for clarification.

[2017-01-18 21:09] omgjlk commented on #86
There should be clear distinction between contributor docs vs end user docs.

[2017-01-18 21:10] omgjlk opened #87 "Create admin / operator docs"
We need to know what to do when crap hits the fan, and where end users should reach out for help.

Should include some architecture definitions.

Should include feature requests/bugs reporting.

[2017-01-18 21:19] missaugustina commented on #86
For MVP, the goal here should be contributor docs that the team needs in order to work effectively together. We can iterate on these docs as we get to a place where we want to start involving more external contributors.

[2017-01-19 01:22] omgjlk commented on #76
This is proving hard.

GitHub will issue a web hook event when the status of a hash in a PR changes. However that event does not leave breadcrumbs to the PullRequest(s) that have that commit. We may have to use the search API to [search](https://developer.github.com/v3/search/#search-issues) for all PRs within the repo that include that [commit](https://help.github.com/articles/searching-issues/#s

[2017-01-19 01:39] omgjlk commented on #75
Digging into this and it's become difficult. How requirements work, both pipeline requirements and trigger requirements, are defined in a base model, outside of connection code. Unfortunately that model is based on gerrit, and is hard coded for which things can be depended on seen [here](https://github.com/BonnyCI/zuul/blob/github-integration/zuul/model.py#L1140) and [here](https://github.com/Bonn

[2017-01-19 15:17] mlangbehn commented on #84
@j2sol, is this issue related to #19's section on contributing to BonnyCI, or is it for end user pull requests (i.e. to a repository that is using BonnyCI)?

[2017-01-19 15:19] mlangbehn commented on #86
~Here is a link to the existing documentation for contributing: https://github.com/BonnyCI/lore/tree/master/contributing
Here is a link to the pull request I am working on to make the distinction between end user and developer docs more clear: https://github.com/BonnyCI/lore/tree/master/contributing~

**EDIT**
Documentation has been changed to help make the distinction more clear:
https://github.c

[2017-01-19 15:51] mlangbehn commented on #85
@missaugustina, this documentation should be linked to from [here](https://github.com/BonnyCI/lore#introduction). If it's concise for the MVP, it may make sense to just write it in that section?

[2017-01-19 16:07] eggshell commented on #86
We've also added some documentation on [setting up a dev environment](https://github.com/BonnyCI/lore/tree/master/getting_started).

Also, the pull request @mlangbehn mentioned above is located [here](https://github.com/BonnyCI/lore/pull/18).

[2017-01-19 16:10] eggshell commented on #84
@mlangbehn based on @j2sol 's mention of some BonnyCI-specific functions (ex: gating), I'd assume this issue is shooting for the latter.

[2017-01-19 17:17] mlangbehn commented on #86
Closing issue as lore has been updated accordingly.

[2017-01-19 17:17] #86 closed, assigned to eggshell, mlangbehn

[2017-01-19 20:04] omgjlk commented on #84
This is about consumers _of_ BonnyCI rather than contributors _to_ BonnyCI.

Something along the lines of http://docs.openstack.org/infra/manual/developers.html perhaps. A graphic like that at the top could be produced, and some of the wording from http://docs.openstack.org/infra/manual/developers.html#automated-testing could be useful as well.

We want to highlight that we offer a check pipeline

[2017-01-20 18:44] ConsoleCatzirl commented on #31
The vagrant environment is working pretty well for testing most moving parts, closing this.

[2017-01-20 18:44] #31 closed, assigned to ConsoleCatzirl

[2017-01-20 21:19] missaugustina opened #88 "BonnyCI Service Outage - Nodepool ran out of disk space"
### Timeline:
(times in PST)
10:47 jesusaur reported in irc a pull request hadn't merged. jlk noticed other jobs were also still open.
10:54 jlk reported the following from the logs: -bash: cannot create temp file for here-document: No space left on device and discovered 32 gigs in logs; Errors in nodepool-launcher: '403: quota exceeded'
10:59 jlk purged logs freeing up space. jlk reported somethi

[2017-01-20 21:26] missaugustina commented on #19
Removed help wanted cuz it looks like folks are on this

[2017-01-20 21:29] missaugustina commented on #27
I'm going to close this out for now since it looks like we got a first stab at this. We can file specific issues for any additions we need to make. Feel free to reopen it if I've closed it prematurely, I'm just swabbing the Poop Deck over here ;)

[2017-01-20 21:29] #27 closed, assigned to loafyloaf

[2017-01-20 21:45] missaugustina commented on #64
We still need to create tickets for the outstanding issues highlighted in this ticket.

[2017-01-20 23:02] SpamapS opened #89 "Create a form letter and/or blog post for contacting potential beta testers"
We will be contacting projects and should be consistent in our messaging. I'll create a blog post and/or form letter that we can send to mailing lists / forums / irc etc. to open up a conversation about being a beta tester without being too spammy.

[2017-01-23 18:18] missaugustina opened #90 "Nodepool high disk usage alerts"
We need alerts when the nodepool server's disk usage is getting full and is completely full. If we only alert when the disk is full it would be too late to prevent an outage, so we want preventative alerting here. I'm proposing 75% as a start, but we should look at the data from the past outage to see if that would have caught this.

This is one of the action items identified from Issue #88

[2017-01-23 18:21] missaugustina opened #91 "Root cause research: why didn't nodepool monitoring report an issue when the disk was full?"
Why did nodepool monitoring report that everything was fine when it wasn't?

Action item via Issue #88

[2017-01-23 18:22] missaugustina opened #92 "Alert for zookeeper connectivity issues"
Action item resulting from Issue #88

[2017-01-23 18:25] missaugustina opened #93 "Review current log rotation strategy"
How often do we currently delete logs? How are we going to do this for BonnyCI users?

Action item from issue #88

[2017-01-23 18:25] missaugustina opened #94 "Add alert for zuul processes waiting for a long period of time"
Also determine if no jobs running should be an alert. Right now we don't have high usage so that might get annoying.

Action item from Issue #88

[2017-01-23 18:32] missaugustina commented on #88
Leaving this open for root cause analysis. What caused the Zookeeper connectivity issues? Did Zookeeper filling up the logs so that Nodepool's disk was full cause the outage or was it something else?

[2017-01-23 19:00] missaugustina commented on #88
To view logs, ssh to contrasjc-bastion then just type "nodepool" to ssh to nodepool, "zuul" to ssh to zuul.

[2017-01-23 19:06] missaugustina commented on #88
From nodepool deleter logs:
`
2017-01-20 10:02:50,110 ERROR nodepool.NodePool: Exception cleaning up leaked nodes
Traceback (most recent call last):
  File "/opt/venvs/nodepool/local/lib/python2.7/site-packages/nodepool/nodepool.py", line 1513, in periodicCleanup
    self.cleanupLeakedInstances()
  File "/opt/venvs/nodepool/local/lib/python2.7/site-packages/nodepool/nodepool.py", line 1524, in cle

[2017-01-23 19:27] missaugustina commented on #88
Most of the logs were deleted from the nodepool server but the syslogs are still intact. Here's what I've found (times in UTC, outage was identified at 06:00 UTC):

[code]

[2017-01-23 20:33] missaugustina commented on #88
Datadog logs also still intact, confirm some kind of network connectivity issue and then the disk full error:

Datadog logs:

[code]

[2017-01-25 00:08] missaugustina opened #95 "Audit current monitors"
Put together a spreadsheet listing out what monitors we currently have running.

https://ibm.box.com/s/astoyhjujvaa9xg4xii38j3q0f3fs4p6

[2017-01-25 00:14] missaugustina commented on #88
After looking in the Zuul logs it doesn't look like Zuul experienced any service interruption or degradation. Because we don't have Zookeeper logs or Nodepool logs from the outage, we are unable to determine root cause at this point in time. Given the logs showed a network interruption and there was initial evidence suggesting that Zookeeper may have had a network connectivity issue, it's possible

[2017-01-25 00:14] #88 closed, assigned to missaugustina, loafyloaf

[2017-01-25 14:01] loafyloaf commented on #91
so... free disk space on nodepool was pretty constant over the last month.  but starting 1/9, the amount free disk space steadily and slowly diminished until the outage on 1/19. jlk's actions cleared up a bunch of space, but we are now on track to run out of space again by 1/29...
![nodepool_diskfree](https://cloud.githubusercontent.com/assets/2438948/22293305/139f612a-e2dd-11e6-91c7-0109d8f9ade3.

[2017-01-25 14:39] loafyloaf commented on #90
I don't think we can make datadog alert on a percentage of disk space, but absolute values aren't a problem.  What I've set up is a warning for 3GB of disk space left, and an alert for 1.5GB.  Currently, this will send to auggy, jlk and myself.

[2017-01-25 15:55] loafyloaf commented on #95
There are currently only 10 monitors in place - most of them look to have been set up by jamie

quick link (requires login): https://app.datadoghq.com/monitors#manage

[2017-01-25 16:08] loafyloaf commented on #95
Status | Name | Definition | Tags
-------- | ------- | ------------ | ------
OK |	[Auto] Clock in sync with NTP | ntp.in_sync | *
OK | free disk space on nodepool | system.disk.free | host:nodepool.bonnyci.portbleu.com
OK | Gearman is down on {{host.name}}	 | gearman.can_connect | *
Warn | Missing Mergers | gearman.workers_by_task | host:zuul task:merger:merge
No Data | Missing Mergers on playgrou

[2017-01-25 16:10] loafyloaf commented on #95
sorry - I wasn't having much luck editing that box spreadsheet (does it work with linux?), so I just put the info in the comments section

[2017-01-25 18:50] omgjlk commented on #75
We can now require a status in place for pipelines. A PR needs to be completed to turn it on in our pipelines.

[2017-01-25 19:23] omgjlk opened #96 "hoist-checks fails with No Such File"
See https://github.com/BonnyCI/hoist/pull/73#issuecomment-275204888

The job is failing fast with just that error. Seems it was introduced not long ago. Assigning this to @jesusaurus

[2017-01-25 19:40] ConsoleCatzirl commented on #96
The "No Such File" refers to the path in the link not existing on the log host. This is likely a symptom of a failure mode causing the test output to not get pushed to the log host. I will investigate further.

[2017-01-25 20:01] ConsoleCatzirl commented on #96
The only log entries for today in zuul's server.log are four occurrences of this traceback:
[code]

[2017-01-25 20:15] ConsoleCatzirl commented on #96
That traceback is not related to test output failing to be copied to the logs host.

[2017-01-25 20:37] ConsoleCatzirl commented on #96
Zuul's launcher-debug.log shows that the log was skipped:
[code]

[2017-01-25 20:51] #96 closed, assigned to ConsoleCatzirl

[2017-01-25 22:36] omgjlk commented on #74
https://github.com/sigmavirus24/github3.py/pull/671

[2017-01-30 17:48] missaugustina opened #97 "Nodepool builder is generating ~1GB of logs per day"
Disk space monitoring on Nodepool had triggered alerts and upon further analysis, we found Nodepool builder is generating about 1 GB of logs per day. We need to investigate if this is normal activity or if something else is going on. We are a pretty small project and that seems like a lot.

[2017-01-30 18:32] rattboi commented on #97
Looks like there are two reasons why nodepool builder logs are filling up so quickly.

1. We have two logs, normal + debug. They actually are identical, so that's double the logs right there. Fixing this would get us to ~500MB/day.
2. There is an attempt to build an ubuntu-xenial image that fails every 10-45 seconds. This generates 240kb (x2 because of above) of logs.

I think the solution is two-

[2017-01-30 18:41] omgjlk commented on #74
This has merged upstream. I don't know if/when there will be a release that includes it, so we may consider installing from git until a release hits pypi.

[2017-01-30 19:17] rattboi commented on #97
bonnyci/hoist#80 will give us the logrotate for nodepool. Once it's merged, we can close this.

[2017-01-30 20:29] omgjlk commented on #74
Some notes on design.

I am attempting to re-use as much core zuul code as possible, as an overall strategy with 2.5. The code that compares a change's data with a pipeline or trigger's requirements is core zuul code, not split out into the drivers, therefor we need to represent the data in a way that the core zuul code expects.

Core Zuul code has a pile of code to approve/reject on an `approval`

[2017-01-30 21:20] gandelman-a opened #98 "Add alert for stale nodepool DIB image builds / stalled builds"
If nodepool builder is failing to build images, the age of the images listed via 'nodepool dib-image-list' will grow beyond an expected threshold.  We should be able to check this with datadog via the nodepool webapp, in the same way we check nodepool status.  $nodepool_addr:8005/dib-image-list.json provides a json formatted list of available dib images with their age

[2017-01-30 21:21] missaugustina commented on #95
Reopening this -> per planning meeting conversation, we should create a doc with this info and add it to the datadog-monitoring repo.

[2017-01-30 22:06] eggshell commented on #19
This has been closed. Refer to [this lore issue](https://github.com/BonnyCI/lore/issues/4) for more history and PRs for each step.

[2017-01-30 22:06] #19 closed, assigned to loafyloaf, eggshell, mlangbehn

[2017-01-30 22:06] eggshell commented on #81
Closed in BonnyCI/lore#40

[2017-01-30 22:08] eggshell commented on #67
Closed in BonnyCI/lore#40

[2017-01-30 22:08] #67 closed, assigned to nobody

[2017-01-31 09:47] jamielennox commented on #90
from: http://docs.datadoghq.com/integrations/disk/

system.disk.free
(gauge) 	The amount of disk space that is free.
shown as byte
system.disk.in_use
(gauge) 	The amount of disk space in use as a fraction of the total.
shown as fraction

so these as a fraction should be usable for an alert?

[2017-01-31 21:13] eggshell commented on #87
BonnyCI/lore#42 and BonnyCI/lore#37 closed this.

[2017-01-31 21:13] #87 closed, assigned to eggshell, mlangbehn

[2017-01-31 21:14] eggshell commented on #41
BonnyCI/lore#37 and BonnyCI/lore#42 closed this.

[2017-01-31 21:14] #41 closed, assigned to ConsoleCatzirl

[2017-02-01 20:20] ConsoleCatzirl opened #99 "Move zuul merger to dedicated host"
Running both the zuul server and a zuul merger on the same host complicates the vhost configuration for a status page. And since the zuul mergers are designed to be horizontally-scalable it is easy to move this process to another host. Also, it appears we already have an unused merger01.bonnyci host created in our cloud, making the transition even easier.

[2017-02-01 20:51] #75 closed, assigned to omgjlk

[2017-02-01 22:31] omgjlk opened #100 "Zuul tracebacks on fetching statuses"
[code]

This is causing us to fail to fetch statuses of a given PR head and clear pipeline requirements.

[2017-02-01 22:59] omgjlk opened #101 "`gate_recheck` comment triggers the check pipeline."
We have a config of

[code]

on `check_github`. But in https://github.com/BonnyCI/hoist/pull/87#issuecomment-276810154 I issued a comment of `gate_recheck` and it triggered the `check_github` pipeline instead. Our regex needs work.

[2017-02-01 23:17] missaugustina commented on #101
I think that needs to be (?irecheck)

[2017-02-01 23:19] missaugustina commented on #101
Also not sure if the regex gets executed by Python, if so then match() would probably be what you want here. match() starts its check at the beginning of the string so you don't have to specify ^.

[2017-02-01 23:26] omgjlk opened #102 "NOT_REGISTERED errors from ubuntu-hoist jobs on zuul restart"
After a zuul restart, any job needing `ubuntu-hoist` nodes from node pool fail with `NOT_REGISTERED`. I think it's because we are not keeping a minimum set of nodes around for this host type (due to quota issues), and so none of these nodes boot up when zuul restarts. It seems that zuul only considers a node type as registered if one has ever booted up. So now we have a chicken and egg problem. Zu

[2017-02-01 23:36] omgjlk commented on #76
Being worked on at https://github.com/BonnyCI/zuul/pull/12

Once that merges, we'll have to update our pipeline config to take advantage.

[2017-02-02 00:09] #84 closed, assigned to nobody

[2017-02-02 01:03] #101 closed, assigned to rattboi

[2017-02-02 03:28] ConsoleCatzirl opened #103 "Test elk configuration on hoist changes"
Add more subnodes to our multinode testing so that the tests more closely resemble production. Currently we don't test the log host deployment in multinode testing because there is no subnode for the host.

[2017-02-02 03:29] ConsoleCatzirl commented on #103
I have proposed BonnyCI/hoist#83 and BonnyCI/hoist#84 to add a log host to the multinode test.

[2017-02-02 03:31] ConsoleCatzirl commented on #103
Once #99 is done, we will have another subnode to add to the multinode test.

[2017-02-02 22:48] ConsoleCatzirl opened #104 "ObjectDeletedError and InvalidRequestError with tracebacks in nodepool-launcher.log"
[code]

[2017-02-02 22:52] ConsoleCatzirl commented on #104
These seem to have been happening for a while, the earliest occurrence I see was at ` 2017-01-20 20:08:51,980`

[2017-02-03 18:02] omgjlk commented on #76
Will be resolved by https://github.com/BonnyCI/hoist/pull/101

[2017-02-03 18:03] omgjlk commented on #74
Resolved by https://github.com/BonnyCI/hoist/pull/101

[2017-02-03 18:04] omgjlk commented on #73
Resolved by https://github.com/BonnyCI/hoist/pull/101

[2017-02-03 18:24] omgjlk commented on #83
This is covered by https://github.com/BonnyCI/lore/pull/36

[2017-02-03 18:26] omgjlk commented on #83
And by https://github.com/BonnyCI/hoist/pull/79

[2017-02-03 18:32] omgjlk commented on #72
This was fixed.

[2017-02-03 18:32] #72 closed, assigned to jamielennox, omgjlk

[2017-02-03 22:59] omgjlk commented on #102
Should be able to do a graceful restart, as well as releasing nodes to node pool before the restart, so that when it starts back up again it can recover where it left off.

[2017-02-03 23:07] #100 closed, assigned to omgjlk

[2017-02-03 23:08] omgjlk opened #105 "Traceback on handling status"
[code]

[2017-02-03 23:27] omgjlk opened #106 "Traceback on handling reviews"
[code]

[2017-02-03 23:29] omgjlk commented on #106
This might be because we're re-using a venv for zuul, and the requirements are not getting updated correctly. Going to try forcing an install of the newer github3.py code.

[2017-02-03 23:46] rattboi opened #107 "test"

[2017-02-03 23:46] #107 closed, assigned to nobody

[2017-02-04 00:37] omgjlk commented on #106
Was from old github3.py. Updated, closing issue.

[2017-02-04 00:37] #106 closed, assigned to nobody

[2017-02-04 00:38] omgjlk opened #108 "Traceback on matching required approvals"
[code]

[2017-02-04 00:45] omgjlk commented on #108
Handle a review with state `DISMISSED` and throw it out.

[2017-02-04 00:46] omgjlk commented on #108
An approval has a state of `APPROVED`.

[2017-02-04 01:26] omgjlk commented on #76
This is now live.

[2017-02-04 01:26] #76 closed, assigned to gandelman-a

[2017-02-04 01:26] omgjlk commented on #74
This is now live, has been tested on sandbox.

[2017-02-04 01:26] #74 closed, assigned to omgjlk

[2017-02-04 01:27] omgjlk commented on #73
This is partially live, but may not be doing things correctly. We're not seeing a gate event start on status being set.

[2017-02-04 05:54] loafyloaf commented on #95
monitors.yml in the datadog-monitors repo pretty much serves as a living document as to what is being monitored.  it runs on a cron job to make sure monitors are established.  this will be continuously updated, so I think this issue is resolved - but feel free to reopen if the opposite is true

[2017-02-04 05:54] #95 closed, assigned to missaugustina, loafyloaf

[2017-02-04 05:57] loafyloaf commented on #91
root cause?  no alert had been set up.  this has been shown to be rectified.

[2017-02-04 05:57] #91 closed, assigned to missaugustina, loafyloaf

[2017-02-06 17:02] #81 closed, assigned to nobody

[2017-02-06 19:54] gandelman-a opened #109 "Traceback handling status event"
This is a new one that we're getting after all fixes last week merged and zuul has been restarted to pick them up:

[code]

[2017-02-06 20:22] gandelman-a commented on #109
This appeared to be stale .pyc bytecode running while up-to-code code had been checked out, causing the old bug to trigger but the traceback references the new code.  Cleaning out the stale pyc files from the virtualenv and restarting zuul seems to have fixed it.  We should reopen this if we hit this again, as there may be an issue with ansible checking out new code and re-installing it via pip.

[2017-02-06 20:22] #109 closed, assigned to nobody

[2017-02-06 21:26] gandelman-a opened #110 "Lack of test coverage for actual github connection code"
When we add new stuff to the zuul github connection driver, we also add corresponding stuff to the test suite's FakeGithubConnection, which is used by the test suite.  Nowhere during testing does the actual github code get tested, and this has resulted in us rolling out code with a number of issues that should have been caught pre-merge.  We should figure out a way to test this better, and push up

[2017-02-06 21:44] ConsoleCatzirl opened #111 "Add zuul support for requiring labels"
In order to separate "this code looks good" from "this code is ready to merge", we need to keep using github labels. And in order to allow the label to be applied before either the check jobs succeeding or the code review approval, we need to be able to require a label on the pipeline. We can work around the issue by only triggering on labels and gate-recheck comments, since we can require check s

[2017-02-07 00:51] ConsoleCatzirl opened #112 "Get consensus on gate design"
We need to update the gate design document to separate code-review from workflow so that approving in code-review and passing in check are not the only requirements to entering the gate. It was suggested that using a label other than approved would help disambiguate the two.

[2017-02-07 21:11] gandelman-a opened #113 "Zuul hits traceback during reporting, when adding labels"
We currently have bonny configured to removed the 'approved' label as its starting its gate jobs, then add it back after its successfully completed them.  It currently hits an error when attempting to add the label. I'm not sure if this is a bug with the original github code, or if it was actually working at one point but broke after we upgraded our github3.py
[code]

[2017-02-07 22:49] #82 closed, assigned to eggshell, mlangbehn

[2017-02-08 01:11] #99 closed, assigned to ConsoleCatzirl

[2017-02-08 19:13] SpamapS commented on #89
FYI, the website is up, and looks terrible. http://bonnyci.org/about/ suffices as a medium-form version. I'll add a blog post with more later. So I'd say this is about half-done.

[2017-02-09 04:44] omgjlk opened #114 "zuul blocks merges from a PR that has an old negative review"
Turns out github API stores all the reviews, even a negative review that's replaced with a positive review. We'll need to account for this in zuul code and only keep the latest non-comment review.

[2017-02-09 05:28] jamielennox opened #115 "Zuul should report back to github on failure"
So I was doing some testing with zuul on a repo that had branch protection enabled. The branch protection criteria was not met, but because we were using labels at the time i could trigger a bonny approved.

I'm pretty sure zuul tried to perform the merge and everything but github rejected the push because the branch protection failed.

It'll be way to difficult to make zuul read and understand gi

[2017-02-09 22:09] missaugustina commented on #85
The decision was made to de-prioritize this since it was not deemed as crucial for MVP.

[2017-02-09 22:27] missaugustina opened #116 "What exactly is BonnyCI?"
Summary of BonnyCI key features and how it differs from other CI as a Service options like TravisCI.

- [x] Review research to get some idea of existing CI user painpoints who are unhappy with current CI services
- [x] Freewrite/brainstorm with ideas of how to make the argument for BonnyCI based on ^^
- [x] Fill out missing prose
- [x] Initial Edit
- [x] Initial review submission
- [x] edit/review

[2017-02-10 18:37] gandelman-a opened #117 "zuul webapp reconfigured to use 127.0.0.1, github can no longer deliver webhooks"
https://github.com/BonnyCI/hoist/pull/116 changed the default zuul listening address from 0.0.0.0 to 127.0.01, for purposes of reverse proxy'ing the zuul status data behind apache.  This had the side effect of breaking all github webhooks as they're being delivered to http://zuul.bonnyci.org:8001/connection/github/payload

[2017-02-10 18:41] gandelman-a commented on #114
https://github.com/BonnyCI/zuul/pull/22

[2017-02-10 18:41] #114 closed, assigned to gandelman-a

[2017-02-10 18:41] gandelman-a commented on #113
https://github.com/BonnyCI/zuul/pull/22

[2017-02-10 18:41] #113 closed, assigned to nobody

[2017-02-10 19:03] gandelman-a opened #118 "zuul traceback when its unable to map issue to PR"
[code]

[2017-02-10 23:00] rattboi opened #119 "bastion has no clouds.yaml content"
It appears that at some point, the bastion stopped getting clouds.yaml content, because the important info to do so was placed under inventory/groups_vars/production, but bastion is not a member of production.

Because the cronjob used by ansible-runner for system-ansible is the one that makes use of the bastion inventory, the hostname is set to "localhost", which means we could solve this by crea

[2017-02-13 00:43] jamielennox commented on #117
Ergh, why do those use the same variables? They should be unrelated,

[2017-02-13 19:26] omgjlk opened #120 "zuul signed-off-by test giving false positives"
Was looking at pr BonnyCI/hoist#139

and saw that Travis failed, on a signed-off-by, but Zuul did not fail that: http://logs.bonnyci.com/check_github/BonnyCI/hoist/139/1486947519.79/hoist-checks/console.html#_2017-02-13_00_58_59_562365

Something appears wrong with our test.

[2017-02-13 19:44] #83 closed, assigned to gandelman-a

[2017-02-13 19:50] omgjlk opened #121 "End user documentation for in-repo job definition"
We do not have any end-user docs on how this works. At a minimum we should have information about what script path we look for, what log path we upload, and what kind of things are supported. Maybe some generic info somewhere about how to add more software to the test env too.

[2017-02-13 19:54] omgjlk opened #122 "Update docs for github integration"
We have docs at http://bonnyci.org/lore/end_users/setup/ that explain the setup process. This will all change once we move to a GitHub Integration. So the docs will have to be updated, which is part of this milestone.

[2017-02-13 20:03] omgjlk commented on #73
Now we're seeing this work. Closing.

[2017-02-13 20:03] #73 closed, assigned to omgjlk

[2017-02-13 20:04] omgjlk opened #123 "Document the zuul status page"
We provide links to the status page, but don't really explain what it is users are looking at. We should have some text in our Lore that explains the status page.

[2017-02-13 20:05] omgjlk commented on #52
This is now live!

[2017-02-13 20:05] #52 closed, assigned to ConsoleCatzirl, omgjlk

[2017-02-13 23:52] gandelman-a commented on #117
Sorry, I didnt get the commit linked to this issue but it was solved /w https://github.com/BonnyCI/hoist/pull/132 and github project configs have been updated so their webhooks post to :80 there.

[2017-02-13 23:52] #117 closed, assigned to nobody

[2017-02-13 23:54] gandelman-a commented on #115
I just hit this as well, in my case:

* Proposed PR
* PR  approved from human
* travis failed
* bonny check passes
* passing check triggers the gate
* Zuul cant merge because the required travis check has failed

Resulted in the following trace on zuul.

[code]

[2017-02-14 00:00] gandelman-a commented on #115
Also, after posting a new revision to the PR, jobs do not start. The following errors are in server.log:
[code]

[2017-02-14 03:37] jamielennox opened #124 "Merge-failure spams github comments."
Looking at https://github.com/BonnyCI/hoist/pull/143 zuul is very peristent about telling you that merge failed. Need to diagnose why and prevent it happening in future.

[2017-02-14 16:50] mlangbehn commented on #122
The lore has moved to it's new, more professional home: http://bonnyci.org/lore/end_users/setup/

[2017-02-14 17:53] gandelman-a commented on #115
The following race can also trigger this, and easy to reproduce on a branch with both travis and bonny doing branch protection:

* Propose PR
* Human approves
* Travis starts
* Zuul check starts, finishes + passes
* Zuul gate starts, finishes + passes
* Travis still running
* Zuul tries to merge

[2017-02-14 17:59] mlangbehn opened #125 "Document Build Status page"
Same as BonnyCI/projman#123, but for the [Build Status](https://travis-ci.org/BonnyCI) page.

[2017-02-14 19:12] omgjlk commented on #68
We've decided to use the Integration method, so we'll be enacting that today.

[2017-02-14 19:12] #68 closed, assigned to nobody

[2017-02-14 21:54] #121 closed, assigned to nobody

[2017-02-15 00:19] ConsoleCatzirl opened #126 "Add apache vhost for Kibana"
We have set up an ELK stack for nodepool and zuul service logs, but are not serving the Kibana app via Apache yet.

[2017-02-15 10:03] jamielennox opened #127 "Exception('Multiple pulls found with head sha %s' % sha)"
This is an unusual situation, but apparently it happens. You can end up with the same sha in the top of multiple pulls and then zuul isn't happy.

[2017-02-16 00:25] missaugustina commented on #98
FYI: The "monitoring alerts" label is for tickets filed in response to an alert

[2017-02-16 21:03] gandelman-a commented on #127
Yea.. I'm not sure how we are actually hitting this in production with our current workflows, but it's not too difficult to reproduce by simply creating two branches from the a single sha and proposing a PR from each.

Perhaps we can finagle a way to post an error comment back to the PR informing the user of the scenario and suggesting they clean things up?

[2017-02-16 22:03] #90 closed, assigned to loafyloaf

[2017-02-16 22:08] omgjlk commented on #77
Related: https://github.com/BonnyCI/zuul/pull/25

[2017-02-16 22:17] SpamapS opened #128 "Verify deploy from scratch in new cloud"

[2017-02-16 22:18] omgjlk commented on #3
We have a cloud! We'll be using it soon.

[2017-02-16 22:18] #3 closed, assigned to omgjlk

[2017-02-17 19:37] omgjlk opened #129 "Decide on personal account strategy"
Debate and approve design proposals for handling personal accounts on the new cloud.

See https://github.com/BonnyCI/bonnyci.org/pull/26 as one such proposal.

[2017-02-17 19:39] omgjlk opened #130 "Decide on production account, project, and network strategy"
With our new cloud, as we have the power to create new accounts, projects, and networks, we need a strategy for deploying our control plane and utilizing capacity for node pool nodes. We should use a design that keeps attack surfaces small, balanced with keeping complexity low.

Design proposals should go to Lore.

[2017-02-18 00:34] gandelman-a commented on #130
So I've been looking into the network topology.  We should be able to use security groups within the control plane to limit traffic to only required ports. I'd like for us to avoid a flat-network topology we have with the current setup and have nodepool slaves in their own tenant and private network, but I'm having trouble with the bluebox cloud while attempting to create L3 connectivity between t

[2017-02-19 19:52] omgjlk commented on #130
We won't be able to plug ports on the default router, but we may be able to make our own router and plug ports on that. Have you tried that?

[2017-02-20 18:57] gandelman-a commented on #130
Yep, I'm using a new router on a tenant.  In fact, I dont think there is a default router.

Anyway, I've put in a ticket with BB and they let me know that attaching a shared network from tenantB to a new router on tenantA is only possible by admin, and they would need to it manually for us... which would break automation. So barring that, we could go the floating IP route and be stingy with floati

[2017-02-20 19:39] SpamapS commented on #130
Can we have ipv6 floating ips?

[2017-02-20 20:04] omgjlk commented on #130
I'm not sure what the ipv6 capabilities are in a blue mix private cloud, but probably not what we need.

Adam and I chatted on iRC and he's trying another approach:

With Tenant A user that has `cloud_admin` role in Tenant A, create two private networks, one of which is shared. Also create a router, and plug both networks into the router. Then Tenant B can boot instances with ports on the shared n

[2017-02-20 21:31] omgjlk commented on #129
Closed by BonnyCI/bonnyci.org#26 .

[2017-02-20 21:31] #129 closed, assigned to omgjlk

[2017-02-20 21:32] omgjlk opened #131 "Code up account management for new cloud"
Follow http://bonnyci.org/lore/developers/contributing/designs/personal-cloud-accounts.html and create some automation to handle account creations.

[2017-02-21 00:42] missaugustina commented on #116
https://github.com/BonnyCI/bonnyci.org/tree/issue116_whyBonnyCI

[2017-02-21 00:47] missaugustina commented on #116
Currently scrawled out a brainstorm rough draft based on notes and initial research. Next step is to put together a logical outline/proof clearly stating the hypothesis and supporting arguments to ensure logical integrity and completeness.

[2017-02-21 20:54] omgjlk opened #132 "Document new personal account process"
Now that the design has been accepted, and automation is nearly done to meet the design, we need to update / create docs on how to utilize the automation to add new accounts for our users.

[2017-02-21 22:29] #131 closed, assigned to omgjlk

[2017-02-21 22:59] gandelman-a opened #133 "Implement ansible automation for provisioning production network"
https://github.com/BonnyCI/bonnyci.org/pull/33 is the spec for our new network topology. Once merged we'll need to implement in ansible.

[2017-02-21 23:00] gandelman-a opened #134 "Implement ansible automation for provisioning production projects and accounts"
https://github.com/BonnyCI/bonnyci.org/pull/34 is the spec for our production accounts and projects. We'll need ansible to bootstrap our new cloud accordingly, once that merges

[2017-02-22 17:38] missaugustina opened #135 "Talk to sigmavirus about being a BonnyCI beta tester"
- [x] follow up via irc to see if there's still interest
- [x] send CI interview questions and cc jlk and spamaps

[2017-02-22 17:42] #53 closed, assigned to missaugustina

[2017-02-22 22:45] #132 closed, assigned to omgjlk

[2017-02-22 22:49] omgjlk commented on #29
I believe this will be addressed by https://github.com/BonnyCI/hoist/pull/166

[2017-02-22 23:20] eggshell commented on #134
@gandelman-a any objections to me picking this one up?

[2017-02-23 00:28] omgjlk opened #136 "Port github patches to zuul v3"
v3 has a new framework for drivers, and the github code on 2.5 needs to be ported and changed to work with v3. This ticket will track that work.

[2017-02-23 01:49] missaugustina commented on #116
Still working on outline - https://github.com/BonnyCI/bonnyci.org/commit/b49e5f7904dac2038cac4fc53a5e807854b488a2

[2017-02-23 01:51] missaugustina commented on #97
Looks like it merged, is this issue resolved?

[2017-02-23 02:21] missaugustina commented on #135
Sent email.

[2017-02-23 02:21] #135 closed, assigned to missaugustina

[2017-02-23 02:25] missaugustina opened #137 "EPIC: Github Project Demographics by Participation"
See https://github.com/BonnyCI/ci-plunder/milestone/1

[2017-02-23 21:10] missaugustina commented on #20
Looks like the doc itself will be mainly internal but aspects of it will make it into documentation.

[2017-02-23 21:10] #20 closed, assigned to nobody

[2017-02-23 21:10] missaugustina commented on #21
We have other documentation tasks now that overlap with this.

[2017-02-23 21:10] #21 closed, assigned to nobody

[2017-02-23 21:11] missaugustina commented on #22
We have other issues that are more specific in addressing this so closing it out.

[2017-02-23 21:11] #22 closed, assigned to nobody

[2017-02-23 21:15] missaugustina commented on #26
I'm closing this because we have individual issues that are addressing specific monitors.

[2017-02-23 21:15] #26 closed, assigned to nobody

[2017-02-23 21:18] missaugustina commented on #28
This was not duplicated but the nodepool and zuul logs are being worked on in Issue #33

I'm assigning this to @jesusaurus  for now and adding the help wanted label so others know this work is available and to coordinate with @jesusaurus

[2017-02-23 21:21] missaugustina commented on #35
What's the current status of this issue? Did it end up being resolved or is it still open?

[2017-02-23 21:23] missaugustina commented on #36
Assigned to @rattboi because it looks like he's working on it based on his last comments. If this is not correct, then feel free to re-assign to the correct person.

[2017-02-23 21:24] missaugustina commented on #36
What's the current status of this issue? The last question was never answered, what steps are remaining?

[2017-02-23 21:24] gandelman-a commented on #35
Fixed with https://github.com/BonnyCI/hoist/commit/6fb24df050d0101e79c9604f778084f7eeb62081

[2017-02-23 21:24] #35 closed, assigned to gandelman-a

[2017-02-23 21:28] missaugustina commented on #23
We think this was caused from restarting Zuul without rebuilding the Nodepool slaves. Due to this issue being pretty old and not having touched, we'll close it and create a new issue in the future with more info if we see this again.

[2017-02-23 21:31] rattboi commented on #36
Ah, right. I dropped the ball on this one.

The main issues I had with it were that it used to be non-idempotent, which seems to be solved. The other is that we don't do any validation that it's the file we expect it to be (hash sum or something). That is still the case, but it's probably not a big worry. I'm just gonna close.

[2017-02-23 21:31] #36 closed, assigned to rattboi

[2017-02-23 21:32] missaugustina commented on #23
Per @j2sol: Worker registration is a post-build action on nodepool. So if the VM is already built, the newly started zuul won't see it. We might be able to gracefully restart in a way to avoid this, but I haven't put any effort into that and v3 may be totally different.

Looks like this is a duplicate of Issue #102

[2017-02-23 21:32] #23 closed, assigned to nobody

[2017-02-23 21:33] missaugustina commented on #38
What's the status of this issue?

[2017-02-23 21:38] missaugustina commented on #37
I'm adding the Help Wanted label onto this one since it looks like it hasn't been touched in awhile. While the issue is currently assigned to @j2sol if someone else wants to pick this up then just touch base with him.

[2017-02-23 21:38] rattboi commented on #38
Looks like this is getting better.

cideploy has 1 non-idempotent task, and system-ansible has 11. Getting the system-ansible one down would be great, but I think it's happening because of a larger issue.

I believe there's some overlapping tasks being run by root, then cideploy, every system-ansible run. This causes each set to have changes every time.

I'll look into it further.

[2017-02-23 21:54] missaugustina commented on #42
Looks like this has been addressed by other issues, specifically Issue #68 and documented in Issue #81

[2017-02-23 21:54] #42 closed, assigned to nobody

[2017-02-23 22:13] missaugustina commented on #46
Requested folks with more insight into what this is to update the ticket or close it if it's complete.

[2017-02-23 22:16] ConsoleCatzirl commented on #43
There are two different reasons for using public IP addresses on the nodepool nodes: first, we want to provide live job output, which is currently provided via telnet to the slave IP address; second, we may want to run services across multiple cloud providers.

For the first case, there was some talk about possibly creating a website to stream the job output, instead of relying on telnet. For the

[2017-02-23 22:19] missaugustina commented on #89
What else is left to do?

[2017-02-23 22:19] missaugustina commented on #46
This was the Zuul code to post comments and set statuses and it was complete.

[2017-02-23 22:19] #46 closed, assigned to nobody

[2017-02-23 22:21] ConsoleCatzirl commented on #45
We have a temporary solution in place, implemented in BonnyCI/hoist#79, but a full solution requires zuulv3.

[2017-02-23 22:21] missaugustina commented on #49
We still need these additional tests!

[2017-02-23 22:22] missaugustina commented on #50
We've tested BonnyCI with a variety of different projects and different scenarios so I think we're good here.

[2017-02-23 22:22] #50 closed, assigned to nobody

[2017-02-23 22:23] missaugustina commented on #57
What's the status of this?

[2017-02-23 22:25] missaugustina commented on #45
I'm going to move this into the BLOCKED column in the Poop Deck since it sounds like it's dependent on Zuulv3.

[2017-02-23 22:25] missaugustina commented on #45
Removed help wanted tag because it's not clear what help is wanted exactly.

[2017-02-23 22:30] missaugustina commented on #130
Looks like @gandelman-a is working on this so I've assigned it to him and removed the help wanted label

[2017-02-23 22:37] missaugustina commented on #64
Help wanted: please review the information in this issue and create any new issues based on the information. Make sure any new issues aren't duplicates of anything that currently exists. Once that's done, or it's determined we don't need new issues, please update this ticket with the info and close it. be sure to reference this issue in any new issues you create based on it. Thx!

[2017-02-23 22:40] missaugustina commented on #66
Even though we're still figuring out what metrics we want to collect, efforts can be made to start publishing them. Please talk to me if you're interested in working on this.

[2017-02-23 22:44] missaugustina commented on #92
What's the status of this? Do we have a monitor in place? If so please update this issue with that info! Thanks!

[2017-02-23 22:45] missaugustina commented on #93
What's the status of this?

[2017-02-23 22:45] missaugustina commented on #94
What's the status of this?

[2017-02-23 22:53] missaugustina commented on #97
What's the status of this issue?

[2017-02-23 23:01] missaugustina opened #138 "Poop Deck lacks automation"
The poop deck doesn't automatically get updated for things like an issue closing. This task would be to create a webhook that would move the cards into the appropriate columns when certain activities happen.

See: https://developer.github.com/v3/projects/cards/#move-a-project-card

GOALS:

The solution that we implement should:

- Move cards into Done when they are closed
- Move cards into "in pro

[2017-02-23 23:21] missaugustina commented on #105
Is this issue resolved now?

[2017-02-23 23:21] #105 closed, assigned to omgjlk

[2017-02-23 23:24] missaugustina commented on #108
Is this issue still outstanding? If so, could you update the ticket with more info so someone can pick it up? If you intend to do the work just assign it to yourself.

[2017-02-23 23:25] missaugustina commented on #108
Per @j2sol on irc, this issue is resolved.

[2017-02-23 23:25] #108 closed, assigned to nobody

[2017-02-23 23:27] missaugustina commented on #110
I added the upstream tag because it looks like this would involve some upstream Zuul involvement

[2017-02-23 23:31] missaugustina commented on #102
Update from @j2sol on IRC: We haven't done any work to see if a graceful restart works around this. We just have some hints from upstream that it mightneed to be able to have a second running zuul + nodepool to play with, and that caused fire last time we did it without separated cloud accounts. Should be able to work on that once we get rolling on the new cloud.

Currently this is blocked pending

[2017-02-23 23:47] missaugustina commented on #85
Issue #116 and this one are pretty much the same thing, or at least that's how it's turning out.

[2017-02-23 23:47] #85 closed, assigned to missaugustina

[2017-02-23 23:56] missaugustina commented on #125
Is this completed now?

[2017-02-23 23:57] missaugustina commented on #119
Is this completed now?

[2017-02-24 16:26] jasontclark commented on #128
I'd like to help out with this one.

[2017-02-24 17:08] missaugustina commented on #128
Sorry for not catching this sooner! I think this may depend on us being in the new cloud environment so it might be blocked. I've moved it there until we get confirmation that this is ready to be worked on.

[2017-02-24 18:38] missaugustina commented on #128
09:28 <+ jlk> jasondotstar: auggy: I think ticket 128 is going to be a catch-all place for the issues we run into once we attempt a from-scratch deploy. We don't know what's broken until we try it, and then we'll have numerous things to fix.

[2017-02-24 21:59] ConsoleCatzirl commented on #136
I've compiled the following list of SHAs to port with the command `for rev in $(git rev-list ^master github-integration) ; do if ! test $(grep -c parent <(git cat-file -p $rev)) -gt 1 ; then echo $rev ; fi ; done`

[code]

Which is the list of non-merge commits in the github-integration branch but not in the master branch.

I propose that we attempt to cherry-pick those in reverse order (from the

[2017-02-24 22:55] ConsoleCatzirl commented on #33
We now put zuul and nodepool logs in an ELK stack on the logs host.

[2017-02-24 22:55] #33 closed, assigned to ConsoleCatzirl

[2017-02-24 23:01] ConsoleCatzirl commented on #120
This looks like it ran the test against the master branch instead of against the proposed change: http://logs.bonnyci.com/check_github/BonnyCI/hoist/139/1486947519.79/hoist-checks/console.html#_2017-02-13_00_58_49_994325

This was likely caused by an issue with the zuul merger. I will pick up my ancient zuul-cloner change to abort rather than fall back to the master branch: https://review.openstac

[2017-02-25 01:06] missaugustina commented on #28
jesusaur> auggy: jasondotstar: I've mostly been working on some zuulv3 stuff this week, and I'm not quite sure what small log publishing tasks we have open at the moment
10:34 jasondotstar: if you want to play with the logstash stuff, we could possibly use more and better grok filters to parse our logs

[2017-02-25 01:11] missaugustina commented on #28
I added @jasontclark to assignees per IRC conversation this morning. Next steps are to look at improving logstash filters for log parsing. Jason, talk to @jesusaurus or ask in the BonnyCI channel for what might be needed. Also please update the issue comments when appropriate so we can avoid duplicate work or having you go down an unrelated rabbit hole!

[2017-02-25 18:45] SpamapS commented on #136
Another data point is that we may want to pile on this story in v3 before we get too deep into this:

https://storyboard.openstack.org/#!/story/2000781

This changes the data model inside Zuul to be more favorable to writing non-Gerrit drivers, and may allow factoring out some of the changes that reach into Zuul below the driver layer.

[2017-02-27 17:17] missaugustina commented on #134
Moved to blocked because this needs another review before it can move forward. Looks like @j2sol needs to approve the latest round of changes. Once the last round of changes has been reviewed, then move this back to "in progress".

[2017-02-27 17:54] missaugustina commented on #133
Looks like this should have been closed with the last PR.

[2017-02-27 17:54] #133 closed, assigned to gandelman-a

[2017-02-27 17:58] missaugustina commented on #123
Looks like this hasn't been updated in awhile. What's the status on this?

[2017-02-27 17:59] missaugustina commented on #115
Looks like this was closed with the PR that merged.

[2017-02-27 17:59] #115 closed, assigned to gandelman-a

[2017-02-27 18:16] rattboi commented on #119
Oops, yep. Fixed with https://github.com/BonnyCI/hoist/pull/135

[2017-02-27 18:16] #119 closed, assigned to rattboi

[2017-02-27 18:18] gandelman-a commented on #130
Design spec was merged, the implementation is being worked on here https://github.com/BonnyCI/hoist/pull/168 by @eggshell

[2017-02-27 18:20] omgjlk commented on #136
Discussed with Zuul upstream on IRC.

Strategy:
@SpamapS will start on the Changeish refactor into a parent Ref class. I'll be collaborating and reviewing as it happens.

I will be working on creating a patchset for the feature/zuulv3 branch that is a port of the code on v2.5 upstream and in our repo, squashed where appropriate, but still a series of patches to review instead of one massive change

[2017-02-27 19:52] SpamapS commented on #89
http://bonnyci.org/beta/ is the long form and should be a good place to send communities to evaluate whether or not they want to join up.

[2017-02-27 19:52] #89 closed, assigned to SpamapS

[2017-02-27 20:31] #97 closed, assigned to rattboi, loafyloaf

[2017-02-27 20:32] mlangbehn commented on #123
This issue was resolved by BonnyCI/bonnyci.org#21 and clarified in BonnyCI/bonnyci.org#37.

[2017-02-27 20:32] #123 closed, assigned to mlangbehn

[2017-02-27 20:36] loafyloaf commented on #93
this is taken care of in https://github.com/BonnyCI/hoist/pull/80

[2017-02-27 20:36] #93 closed, assigned to gandelman-a, loafyloaf

[2017-02-27 20:42] missaugustina commented on #77
I had moved this to blocked because I was under the impression progress on it was blocked by the change that was linked. Is that accurate?

[2017-02-27 20:45] #125 closed, assigned to mlangbehn

[2017-02-27 21:05] missaugustina commented on #128
Blocked pending a from-scratch deploy on the new cloud.

[2017-02-27 21:07] ConsoleCatzirl commented on #123
We have a minimal description of the status pages at http://bonnyci.org/lore/end_users/status, closing.

[2017-02-27 21:17] missaugustina commented on #103
What other parts are still remaining that need to be moved out to subnodes?

[2017-02-27 21:23] ConsoleCatzirl commented on #103
The only part left to split out to make the multinode test match production is adding a multinode subnode for the zuul merger.

[2017-02-27 21:27] missaugustina commented on #103
Looking for someone to set up the multinode subnode for the zuul merger! Note that once that is complete we may have additional tasks once this is deployed to the new cloud.

[2017-02-27 21:35] loafyloaf commented on #92
the 'zookeeper went down' alert is specified in the datadog-monitors repo in the monitors.yml file.  currently, here: https://github.com/BonnyCI/datadog-monitors/blob/master/monitors.yml#L76 , but that line number is sure to change...

[2017-02-27 21:35] #92 closed, assigned to loafyloaf

[2017-02-28 01:17] omgjlk commented on #136
Grabbing patches starting at `8daec1149cd78c2d6451864669c1c663afddc26f`

[2017-02-28 17:09] missaugustina commented on #134
Moved out of blocked because it looks like it's still in progress.

[2017-02-28 17:12] rattboi commented on #57
This is next in line for me. I misjudged my ansible abilities and didn't have a good testing workflow, but those are resolved, so I don't expect this to be too difficult.

[2017-02-28 21:52] missaugustina commented on #136
Dependent task identified in planning: need to deploy a Zuulv3 so that we know we have something that works. That way when we break it, we at least have the confidence that it used to work.

[2017-02-28 21:53] missaugustina opened #139 "Run a Zuul v3 instance"
Part of Issue #136

Deploy a Zuulv3 so that we know we have something that works. That way when we break it, we at least have the confidence that it used to work.

[2017-02-28 21:57] mlangbehn commented on #38
This is required for BonnyCI/projman#49.

[2017-02-28 22:00] missaugustina commented on #38
This isn't really required for that ticket but it is dependent on it. The check on the tests need to be aware of what's changed. If those tests exist then this work would need to update those tests.

[2017-02-28 22:02] missaugustina commented on #49
I updated the description to clarify that the changed stuff doesn't need to be 0, it just needs to be whatever we expect. The work in Issue #38 just needs to make sure it updates these tests if it changes anything.

[2017-02-28 22:04] mlangbehn commented on #49
Thanks, @missaugustina.

[2017-02-28 22:12] missaugustina opened #140 "Determine Uptime for BonnyCI Availability"
- [ ] Determine what metrics we need to collect to define this
- [ ] Collect the metrics and save them so we can look at trends
- [ ] Consider user experience and user feedback during outages
- [ ] Work with the team to come up with a value
- [ ] Implement a plan to revisit and adjust the value if the reality changes

This is related to Issue #66

[2017-03-01 00:02] SpamapS commented on #45
I'll be marking issues waiting on Zuulv3 as Upstream.

[2017-03-01 00:56] ConsoleCatzirl opened #141 "Create a backup plan"
We need a backup plan.

- [x] Identify what needs to be backed up
- [x] Determine a backup storage location
- [x] Document the backup plan

[2017-03-01 01:00] ConsoleCatzirl opened #142 "Create full restart playbook"
We need a playbook to use in the event that we need to stop and/or restart all BonnyCI services. This playbook should use tags to allow specific restarts such as apache restarts, or zuul+nodepool restarts, but by default will restart ALL THE THINGS.

[2017-03-01 01:37] ConsoleCatzirl opened #143 "Create wrapper role around filebeat role"
Create a custom role as a wrapper around the filebeat role, in order to reduce duplication of the `input_type` and `multiline` parameters.

[2017-03-01 16:37] #134 closed, assigned to eggshell

[2017-03-01 17:57] missaugustina commented on #130
Looks like the implementation has merged, closing this out.

[2017-03-01 17:57] #130 closed, assigned to gandelman-a, eggshell

[2017-03-01 17:59] missaugustina commented on #45
I updated the "Upstream" to "Zuul v3 Upstream". If we have other upstream project work, then we can always make a new label for that.

[2017-03-01 18:07] missaugustina opened #144 "Need to create comprehensive tests for zuul.ansible.action.*"
See: https://storyboard.openstack.org/#!/story/2000878

All Zuul v3 Issues: https://storyboard.openstack.org/#!/board/41

Reviews: https://review.openstack.org/#/q/project:openstack-infra/zuul+branch:feature/zuulv3

Tasks:

- [ ] Use zuul's fake nodepool to create static nodes.
- [ ] Create job config suitable for multi-node testing.
- [ ] Run integration tests using static nodes.

[2017-03-01 18:10] missaugustina opened #145 "repo setup in launcher"
See: https://storyboard.openstack.org/#!/story/2000865
All Zuul v3 issues: https://storyboard.openstack.org/#!/board/41
Reviews: https://review.openstack.org/#/q/project:openstack-infra/zuul+branch:feature/zuulv3

[2017-03-01 18:12] missaugustina opened #146 "Re-enable disabled tests in v3"
See https://storyboard.openstack.org/#!/story/2000773

All Zuul v3 Issues: https://storyboard.openstack.org/#!/board/41

Reviews: https://review.openstack.org/#/q/project:openstack-infra/zuul+branch:feature/zuulv3

[2017-03-01 18:13] missaugustina opened #147 "Zuul v3: Internal changes"
https://storyboard.openstack.org/#!/story/2000305

All Zuul v3 Issues: https://storyboard.openstack.org/#!/board/41

Reviews: https://review.openstack.org/#/q/status:open+project:openstack-infra/zuul+branch:feature/zuulv3

[2017-03-01 18:15] missaugustina opened #148 "Make job trees into job graphs"
See https://storyboard.openstack.org/#!/story/2000770

All Zuul v3 Issues: https://storyboard.openstack.org/#!/board/41

Reviews: https://review.openstack.org/#/q/status:open+project:openstack-infra/zuul+branch:feature/zuulv3

[2017-03-01 18:16] #147 closed, assigned to pschwartz

[2017-03-01 18:16] #148 closed, assigned to pschwartz

[2017-03-01 18:28] missaugustina commented on #148
https://review.openstack.org/#/c/439663/

[2017-03-01 19:06] ConsoleCatzirl commented on #145
Done

[2017-03-01 19:06] #145 closed, assigned to ConsoleCatzirl

[2017-03-01 21:36] missaugustina commented on #136
Is this work part of this story? https://storyboard.openstack.org/#!/story/2000774

[2017-03-01 21:46] omgjlk commented on #136
It appears so!

[2017-03-01 22:00] #94 closed, assigned to loafyloaf

[2017-03-02 16:43] loafyloaf opened #149 "low memory on 'logs' host"
The amount of available memory on the 'logs' host is dipping below the 400M level, which is currently the warning level for a datadog monitor.  I have silenced the monitor for this host for the time being.

[2017-03-02 17:12] missaugustina opened #150 "We need a standup bot!"
For specifics, see https://github.com/BonnyCI/quartermaster

[2017-03-02 18:57] gandelman-a opened #151 "Deploy BonnyCI to new cloud"
The final bit of automation is in a PR here: https://github.com/BonnyCI/hoist/pull/176

The prod and user accounts and projects are created.  Floating IPs are allocated in the bonnyci project for the hosts that need it.  We need to get #176 merged and role out, update DNS and see if everything is working

[2017-03-02 20:06] ConsoleCatzirl opened #152 "Add apache logs to ELK"
Add filebeat inputs to ship apache logs to logstash.

[2017-03-03 01:34] rattboi opened #153 "We need a role to install quartermaster"
Quartermaster, our standup bot, is basically complete. However, we need an automated way to install and manage the service.

The easiest way to do that is an ansible role.

[2017-03-03 13:41] mlangbehn commented on #38
**Summary of Issues:**

* ansible-runner role modifies file permissions depending on which user is running the role
  * BonnyCI/hoist#182 resolves these issues
* [tailon : enable tailon service] also shows changed on every run [**EDIT:** This seems to only happen in Vagrant]
  * Working on this one still
    * Seems that the systemd module is reporting changed every time we call it to enable and s

[2017-03-03 16:25] mlangbehn opened #154 "Secrets file permissions changing from 0400 to 0440"
During an [ansible run][1], we can see the POSIX permissions on `"{{ secret_file_path }}"` changing from `root:root 0400` to `root:root 0440`. [Searching the hoist repository for '0440'][2] returns no results, but we are modifying the permissions three times during the [ansible run][1].

The [first place we modify them][3] uses the [ansible file module][4] to set the POSIX permissions to `root:roo

[2017-03-03 18:41] loafyloaf commented on #149
datadog-monitors/pull/10 addresses this issue.  previously, the monitor was looking at free memory, which is different from available memory.  the monitor looks to be much happier now, and is no longer silenced.

[2017-03-03 18:41] #149 closed, assigned to loafyloaf

[2017-03-06 18:45] #153 closed, assigned to rattboi

[2017-03-06 21:40] colettecello opened #155 "Rescue BonnyCI's twitter"
recover control of BonnyCI's twitter:

- Make sure controls are distributed appropriately

- Make connections with projects that would like to use twitter and use it for customer notifications

[2017-03-06 21:44] missaugustina commented on #102
Need to set up dev environment to reproduce this.

[2017-03-06 21:45] jasontclark opened #156 "Develop an IRC channel logging solution."
In an effort to ensure the devs and customers alike have a way to search through our primary mode of communication, develop a way to have the #BonnyCI IRC channel logged.

[2017-03-06 21:48] omgjlk commented on #120
This will be fixed in v3, because in v3 the merger pushes code to the node, rather than having the node pull from a/the merger.

[2017-03-06 21:48] #120 closed, assigned to nobody

[2017-03-06 22:08] jasontclark commented on #116
Since this falls into the documentation realm, I've added myself to this issue.

[2017-03-07 01:17] gandelman-a opened #157 "Allow developers to spin up bonnyci clone envs in their own project space"
We all have our own projects on our cloud, we should be able to reuse the same automation to spin up nearly identical bonnyci environments in our own project space that is capable of pointing at a sandbox somewhere on github, receive triggers, merge patches, etc.

[2017-03-07 18:45] ConsoleCatzirl opened #158 "Apache fails to start on zuul.bonnyci.org"
Apache is not running (and failing to start) on zuul.bonnyci.org

The apache error is:
[code]

[2017-03-07 18:48] ConsoleCatzirl commented on #158
A letsencrypt key update was attempted yesterday. The play may not be working correctly.

[2017-03-07 19:27] ConsoleCatzirl commented on #158
Yesterday's attempted cert update generated a new key and a new csr, but not a new cert.

[2017-03-07 20:49] ConsoleCatzirl commented on #158
The letsencrypt ansible module does not check that the csr provided matches the cert provided. In the event that a new csr is generated, the old cert must be removed; otherwise checking the old cert validity will short-circuit the request for a new cert.

[2017-03-07 20:50] ConsoleCatzirl commented on #158
Manually removing the old cert causes a fatal error in the apache role, and the letsencrypt role is never run on the host.

[2017-03-07 21:30] omgjlk commented on #136
https://review.openstack.org/439831 and https://review.openstack.org/#/c/439834/ are up now for review.

[2017-03-07 21:40] ConsoleCatzirl commented on #158
Using BonnyCI/hoist#195 and putting the old (mismatched) cert back in place, I was able to generate a new key/cert pair. Apache is now fully operational again.

[2017-03-07 22:36] missaugustina commented on #116
I've been focusing on getting the Github events research wrapped up, so this has fallen by the wayside. I'm hoping to at least get the outline finished this week.

[2017-03-08 19:32] omgjlk commented on #136
Some feedback from upstream:

[10:25:09]  <jeblair>	00:42:28> jlk: your request for early review is entirely reasonable, and i'd like to help.  but as i try, i'm honestly not sure how to proceed.  i can do a half-assed review and say "yes/no good/bad general direction" and then do a real review later where we change all kinds of interfaces, etc (and i may still be wrong).  or i can do a real revie

[2017-03-08 21:10] omgjlk commented on #136
https://review.openstack.org/443323 is up too.

[2017-03-09 02:27] rattboi commented on #57
Made a lot of progress on this. Currently stuck trying to make it work nicely with apache AND our ansible-runner infrastructure.

There's a bit of an issue because ara wants the temp files created by ansible to be readable by apache, but I don't think this is technically necessary. The only reason ara needs access to this is because it's using the ansible tmp directory for a little RPC between the

[2017-03-09 18:16] missaugustina commented on #57
If you decide to ignore this issue and put it aside, be sure to put it in the "blocked" column with a comment as to why.

[2017-03-09 18:17] missaugustina commented on #138
Moved to the top of TODO since this is affecting us more directly right now.

[2017-03-09 18:22] missaugustina commented on #28
What other tasks are remaining on this? If the original checklist isn't accurate, feel free to update it.

[2017-03-09 18:26] missaugustina commented on #144
Hey @eggshell when you have a review up in Gerrit for this, feel free to link it here and then move this issue to "Needs Review" so folks on the team can review it!

[2017-03-09 18:41] rattboi commented on #57
No, I'm not ignoring the issue, I'm ignoring something that would block us, and coming back to it at some later date. I'll file an issue about that though.

[2017-03-09 19:34] omgjlk commented on #136
https://review.openstack.org/#/c/443947 adds push and tag events.

[2017-03-09 20:42] omgjlk commented on #136
https://review.openstack.org/443959 adds comment event.

[2017-03-09 21:29] missaugustina opened #159 "Archive Datadog event stream via API"
Using the API (http://docs.datadoghq.com/api/?lang=python#events-get-all) dump the events stream into a publicly available data archive (eg, Google BigQuery). The goal of this is to be able to do analysis. For now this can just be a raw data dump with minimal processing. This would require a process running an api client to make the request to DataDog to do the data pull.

If this gets dumped to G

[2017-03-09 21:34] ConsoleCatzirl opened #160 "zuul-cloner fails to import requests"

[2017-03-09 21:34] missaugustina commented on #158
Per conversation in meeting, we should monitor Apache. @loafyloaf will create that ticket. I'm reopening this issue and we can close it once that remaining monitor ticket has been captured.

[2017-03-09 21:38] loafyloaf opened #161 "service outage: apache down on zuul host"

[2017-03-09 21:49] loafyloaf commented on #161
outage occurred on 7mar2017.  I'm a bit sketchy on the details, but something to the effect of apache on zuul have a new key but an old cert, which knocked out SSL and therefore zuul services

[2017-03-09 21:55] missaugustina commented on #161
I think the details are in Issue #158

[2017-03-09 22:02] jasontclark commented on #156
@rattboi Need to catch up w/ you on this

[2017-03-09 22:19] missaugustina opened #162 "System Log Archives"
Currently log rotation happens weekly or via a cleanup job and the logs are deleted. In order to determine when an issue started happening or to review details of events triggered in Datadog, we should have a long term archive of log data. This will likely get pretty big, so whatever solution we come up with should take that into consideration.

[2017-03-09 22:20] missaugustina commented on #162
I'm wondering if it would be worth parsing the logs and storing them into structured output or possibly archiving the structured output from one of our other services that will already be doing log parsing in the near future.

[2017-03-09 22:34] rattboi commented on #156
@jasontclark This should just be part of whatever IRC bot we start using.

[2017-03-09 22:35] rattboi commented on #150
We were going to use bonnyci/quartermaster, but that's on hold. I'll put my investigations here as I find them.

[2017-03-09 22:36] rattboi commented on #156
The standup bot issue will track bot ideas/solutions. bonnyci/projman#150

[2017-03-09 22:57] omgjlk commented on #136
https://review.openstack.org/444034 adds support for git over ssh.

[2017-03-10 01:49] omgjlk commented on #136
https://review.openstack.org/444060 is the initial support for setting commit status.

[2017-03-10 02:04] ConsoleCatzirl commented on #160
When we changed to installing github3.py manually to use a specific sha, we failed to update the nodepool image elements to also install github3.py, which pulls in requests as a dependency.

[2017-03-10 19:02] omgjlk commented on #136
https://review.openstack.org/444463 adds the ability to merge PRs

[2017-03-10 20:29] gandelman-a opened #163 "Need to test ansible-runner"
We do some deployment testing but nothing that actually stresses ansible-runner and ensures it does the right thing.  We should come up with a standalone test of this that can be run outside of a functional bonny env.

[2017-03-10 20:53] ConsoleCatzirl opened #164 "The cideploy cron is failing"
The cideploy cron runs are failing. Here's the entire log of a recent run:

[code]

[2017-03-10 21:27] gandelman-a opened #165 "No breadcrumb back to test logs for successful runs"
When we run tests, anne-bonny only comments with a link to logs in the case of a failure.  Its sometimes useful to have easy access to logs from successful test runs.   Our layout currently shows:

[code]

[2017-03-10 21:35] gandelman-a commented on #165
totally forgot you can look at the required checks of a closed PR and get to the logs via the 'details' link

[2017-03-10 21:35] #165 closed, assigned to nobody

[2017-03-10 21:48] omgjlk commented on #136
https://review.openstack.org/444511 adds the ability to trigger on label add/remove as well as report via add/remove labels.

[2017-03-13 17:32] #164 closed, assigned to nobody

[2017-03-13 17:37] gandelman-a commented on #160
https://github.com/BonnyCI/hoist/commit/f1b501b02d8eb14d600a43b9321b27ad0db1d35f

[2017-03-13 17:37] #160 closed, assigned to nobody

[2017-03-13 17:39] gandelman-a opened #166 "transient failure of hoist tests, validate-ci.yml ansible cannot connect to nodepool.multinode"
This seems to have started happening this past Friday, see https://github.com/BonnyCI/hoist/pull/202

2017-03-11 05:35:25.473086 | TASK [setup] *******************************************************************
2017-03-11 05:35:25.494851 | fatal: [nodepool.multinode]: UNREACHABLE! => {"changed": false, "msg": "SSH Error: data could not be sent to the remote host. Make sure this host can be reache

[2017-03-13 19:18] gandelman-a commented on #151
All nodes and networks have been provisioned.  The bastion was deployed but some built up cruft from the previous deployment introduced bugs that blocked it from taking off and automating, addressed by:

https://github.com/BonnyCI/hoist/commit/432fc689c1f0752c4301290a8249284e48c6b7b5
https://github.com/BonnyCI/hoist/commit/923dd4d6e3acb01c7d8c1d57033de882894d3d69
https://github.com/BonnyCI/hoist/c

[2017-03-13 19:58] colettecello commented on #155
Triggered a password reset on the @CIBonny - Spamaps has recovered that and sent a password to me.
@BonnyCI is unrecoverable, due to current Twitter policy that they don't re-activate accounts marked for spam.
Next steps: need to transmit password to appropriate people, will then close this out.

[2017-03-13 20:21] ConsoleCatzirl commented on #161
We need to monitor the apache process

[2017-03-13 20:54] ConsoleCatzirl opened #167 "Opentech nodepool is can't connect to mysql"
Related: BonnyCI/projman#151

Our deploy to the new cloud is failing to bring up a working nodepool, it fails to connect to mysql on the opentech zuul host:

[code]

[2017-03-13 20:55] ConsoleCatzirl opened #168 "Opentech nodepool can't upload images"
Our new nodepool deploy is failing to authenticate when trying to upload images:
[code]

Related: BonnyCI/projman#151

[2017-03-13 21:06] gandelman-a commented on #167
install-ci.yml hasnt finished installing zuul because its blocked on https://github.com/BonnyCI/hoist/pull/220

[2017-03-13 22:13] gandelman-a opened #169 "ansible-runner repository is not owned by ansible_runner_user"
https://github.com/BonnyCI/hoist/blob/master/roles/ansible-runner/tasks/main.yml

This does the initial checkout of the upstream ansible_runner_repo but does not ensure that the checkout is owned by the correct user.  This ends up with the repo owned by root.  This will work okay for system-ansible, but the cideploy/install-ci.yml run is run from the cideploy users' cronjob and it will fail to upd

[2017-03-13 22:21] ConsoleCatzirl commented on #167
Now that install-ci.yml runs to completion, this is no longer an issue.

[2017-03-13 22:21] #167 closed, assigned to nobody

[2017-03-14 00:19] gandelman-a commented on #151
So we've hit some issues with networking on the new cloud, a bunch of context here https://support.bluebox.net/tickets/FF86E9

[2017-03-14 01:27] omgjlk commented on #136
https://review.openstack.org/445242 adds dequeue support

[2017-03-14 04:57] omgjlk commented on #136
https://review.openstack.org/445292 adds dependent pipeline support (gate)

[2017-03-14 18:12] colettecello commented on #155
Password transmitted to jlk and olaph.

[2017-03-14 18:12] #155 closed, assigned to colettecello

[2017-03-14 19:35] jasontclark commented on #156
Talked to @rattboi about this.  The original idea was to go with hubot, but the general consensus across the team is to go with something Python based.  Currently evaluating these two tools:

* [errbot](https://github.com/errbotio/errbot)
* [sopel](https://github.com/sopel-irc)

[2017-03-14 19:42] missaugustina commented on #156
Did another conversation happen? I remember we all said it didn't matter whether it was Python based or not and we were all fine with Hubot/JS.

[2017-03-14 20:15] omgjlk commented on #136
https://review.openstack.org/#/c/445625 adds triggering on specific branches

[2017-03-14 20:16] omgjlk commented on #136
https://review.openstack.org/#/c/445644 updates reporting message to include user details

[2017-03-15 16:04] jasontclark commented on #156
@rattboi has tested Errobot.  Looks to be a viable solution for us.  Tweaking the configuration to eventually create an Ansible playbook to deploy a micro instance in our new cloud env. to provide this service.

[2017-03-15 16:08] jasontclark opened #170 "Create a new repo to host our Errbot (IRC bot) Plugins"
@rattboi, @SpamapS

As we continue to craft an IRC bot solution, it has become apparent to us that we need a place to store the plugins/extensions that we develop for Errbot (IRC bot).  Creating a repo to store these is probably the way to go.

[2017-03-15 18:20] gandelman-a commented on #168
This was just a secrets issue, using the wrong password.

[2017-03-15 18:20] #168 closed, assigned to nobody

[2017-03-15 18:21] #169 closed, assigned to gandelman-a

[2017-03-15 18:21] #163 closed, assigned to gandelman-a

[2017-03-15 18:22] gandelman-a commented on #151
I believe we are fully migrated over now, with the first real, non-sandbox job running on the new cloud here http://logs.bonnyci.org/check_github/BonnyCI/hoist/234/1489601311.0/

I think the only other task left is to validate our datadog monitoring is working correctly from the new hosts.

[2017-03-15 18:34] omgjlk commented on #136
https://review.openstack.org/446113 adds file matching support.

[2017-03-15 19:01] ConsoleCatzirl commented on #168
The password in the secrets.yml file was corrected.

[2017-03-15 19:03] #29 closed, assigned to omgjlk

[2017-03-15 19:42] mlangbehn opened #171 "Add check for unused jobs in hoist/roles/zuul/files/jobs/"
**ISSUE:**
* Currently, we check for jobs in the zuul config that do not exist in the jobs directory, but not the other way around

**CRITERIA:**
- [x] A job exists that checks for (and warns of the existence of) unused jobs
- [x] Unnecessary unused jobs have been removed

[2017-03-15 19:52] omgjlk commented on #136
https://review.openstack.org/446150 logs API rate limits

[2017-03-15 20:42] mlangbehn opened #172 "Hoist Vagrant deploys does not match production deployment process"
**ISSUE:**
* Our docker deploys run an entire ansible deployment before running validate-ci.yml
* Our vagrant deploy runs ansible on each host followed by validate-ci.yml before moving onto the next host
  * This is a problem because `tools/vagrant-run-ansible.sh --limit zuul` requires the other services to be up before it will pass

**CRITERIA:**
- [x] Vagrant deployment follows the same deployme

[2017-03-15 21:14] rattboi opened #173 "Research backend options for ARA"
Right now, we are using ARA with the sqlite backend, which has a few negatives:

1) The permission setup so that www-data, cideploy, and root can all get to the file is annoying and maybe a bit insecure?
2) Maintenance of the sqlite database is mostly not managed by ARA. There's a 2-step process for removing old results, but it takes a long time. Also, the sqlite database isn't auto-vacuum, so it

[2017-03-15 21:22] missaugustina commented on #173
How much data do we currently generate with ARA logging and do we have any metrics to track it over time so we can gauge capacity needs? Also what are the impacts if this database gets full, fails, or is slow? Will it affect BonnyCI availability or does it just mean we would have incomplete ansible logs?

[2017-03-15 21:31] rattboi opened #174 "EPIC: Errbot tasks"
Seems like we've decided on using errbot for our irc bot solution. People like that it is written in python, and that it supports multiple backends such as slack, hipchat, and irc.

- [x] Ansible role/playbook to install (https://github.com/BonnyCI/projman/issues/175)
- [x] Bot host provisioning (https://github.com/BonnyCI/projman/issues/176)
- [x] Create repo for errbot extensions (https://github

[2017-03-15 21:56] gandelman-a commented on #151
Done!

[2017-03-15 21:56] #151 closed, assigned to gandelman-a, ConsoleCatzirl

[2017-03-16 02:01] rattboi opened #175 "Create new quartermaster role"
This should deploy quartermaster based on errbot, managed via systemd as a service.

[2017-03-16 02:04] rattboi commented on #175
https://github.com/BonnyCI/hoist/pull/241 is the WIP role for this

[2017-03-16 02:04] rattboi opened #176 "Provision new bot host"
We need a host for the bot to live on. It should probably be separate from our other hosts, for security reasons.

[2017-03-16 02:04] rattboi commented on #176
The WIP for this is https://github.com/BonnyCI/hoist/pull/241

[2017-03-16 02:07] rattboi commented on #174
Made progress today on #175 and #176 . Hopefully I can test and get them reviewed tomorrow.

[2017-03-16 04:05] rattboi commented on #173
ARA generates about 64 mb of database per day, if it is linear (we have two days worth, so it's hard to get a general trend). We don't have metrics in place at this point.

If the database gets full, it will affect our CI ability, as it exists (and must exist) on the same host as our ansible runs.

As mentioned in 2 above, I know the process for removing old results, so the workaround for now is t

[2017-03-16 14:57] #171 closed, assigned to mlangbehn

[2017-03-16 17:49] mlangbehn opened #177 "Create docker deployment script"
**ISSUE:**
* We should have a simple script to deploy a local development environment in docker

**CRITERIA:**
- [x] A simple script exists that
  - [x] Creates a docker container
  - [x] Prepares the docker container for deployment
  - [x] Deploys to the docker container
- [x] Relevant documentation has been updated

[2017-03-16 19:16] jasontclark commented on #170
Repo has been created: https://github.com/BonnyCI/errbot-extensions

[2017-03-16 19:26] jasontclark commented on #138
I'm going to take a stab at this one. FYI.

[2017-03-16 19:53] rattboi commented on #156
I've made progress on this. I'll be adding it to the extensions repo shortly. Use is blocked by #175 and #176.

[2017-03-16 19:53] missaugustina commented on #150
The last comment indicates this would be updated with investigation results. Are there any updates?

[2017-03-16 19:54] missaugustina commented on #57
Could you link the issue you created? Either mention that one here or this one there. Thanks!

[2017-03-16 19:56] missaugustina commented on #38
Do we know what additional items need to be done on this? If not, what are the next steps to finding out?

[2017-03-16 19:57] missaugustina commented on #154
Is this issue resolved with that last PR that was merged or is there still additional work to do on this issue? If so, what?

[2017-03-16 19:59] mlangbehn commented on #154
This is still in progress. It was on hold while I was working on getting vagrant/docker deploys working to continue testing.

[2017-03-16 20:00] mlangbehn commented on #38
This is still in progress. It was on hold while I was working on getting vagrant/docker deploys working to continue testing.

Will update after testing.

[2017-03-16 20:09] mlangbehn commented on #49
I will get back to this once I am finished with my other issues.

**WORK STILL TO DO:**
* Create a test to run the deployment a second time in CI
  * Test needs to verify the expected number of changed items

[2017-03-16 20:10] mlangbehn commented on #38
~Blocked by~:
* ~BonnyCI/hoist#242~
* ~BonnyCI/hoist#243~

[2017-03-16 20:10] mlangbehn commented on #154
~Blocked by:~
* ~BonnyCI/hoist#242~
* ~BonnyCI/hoist#243~

[2017-03-16 22:32] gandelman-a opened #178 "Come up with an automated end-to-end BonnyCI test"
Validating the BonnyCI system is functional from an end-to-end, user POV, I often find myself:

* Creating a fork of a BonnyCI-managed sandbox
* Committing a change to that fork
* Proposing that change via a PR from the fork to the BonnyCI-managed sandbox
* Ensuring check jobs run, pass/fail as expected, and publish logs to the correct place
* Getting someone to approve the change
* Ensuring gate

[2017-03-16 22:35] gandelman-a commented on #110
So we chatted about this during a QA planning meeting a couple weeks ago.  I think this overlaps with upstream work, and also an idea jamie has put forward about replacing the github3.py usage in zuul with a thin github client built on requests, that lives in the zuul tree. Having access to the guts of that client should make it easy to actually test the connection code.

[2017-03-16 22:40] gandelman-a opened #179 "Expand allinone testing"
We discussed a couple of ways to expand the allinone testing that takes place in the gate:

* test that nodepool image builds are published into a cloud project and slaves are booted
** We'd need to create a cloud tenant(s) for tests to use. The hard part here is finding a way to get the credentials to the test slaves in a secure manner.  This would be useful elsewhere for other testing.

* test t

[2017-03-16 23:07] omgjlk commented on #136
https://review.openstack.org/446782 allows filtering status page on PR/Change in the URL, and supports sending that URL.

[2017-03-17 01:16] #176 closed, assigned to nobody

[2017-03-17 14:40] #175 closed, assigned to nobody

[2017-03-17 21:00] #156 closed, assigned to jasontclark

[2017-03-17 22:31] #170 closed, assigned to nobody

[2017-03-18 21:25] mlangbehn opened #180 "Improve personal cloud account lore"
## Issue:

* Currently, our [lore for personal cloud accounts](http://bonnyci.org/lore/developers/dev-environment/personal-cloud-accounts.html) states that core developers may request a personal cloud account
  * Lore describes:
    * The process of requesting an account
    * How to access the account via Horizon and the CLI (refers to upstream documentation)
* Lore does not explain how to use a

[2017-03-20 19:30] loafyloaf commented on #64
this is partly addressed in BonnyCI/projman#98

[2017-03-22 15:57] mlangbehn commented on #38
Testing via `tools/vagrant-deploy.sh` and `tools/docker-deploy.sh` shows that the only item showing as changed on a second run is the `apache restart` handler. This handler is being run twice on the elk node, and twice on the logs node (or a total of four times on the docker `allinone` node).

[2017-03-22 18:50] rattboi opened #181 "Channel logging with errbot only logs messages, not other events"
Errbot only has a few events that can be triggered on. This makes capturing events like join/part, action (/me), topic change, and notices untriggerable, and thus uncapturable.

[2017-03-22 20:43] loafyloaf opened #182 "Add job assignment monitor"
As per BonnyCI/projman#64:

We should monitor the time it takes for a job to be assigned a node and notice a significant deviation.

[2017-03-22 20:48] loafyloaf opened #183 "Add available node monitor"
As per BonnyCI/projman#64:

We should monitor the number of available nodes on our CI and warn/alert when it drops below some number.

[2017-03-22 20:51] loafyloaf opened #184 "Add nodepool/VM connection monitor"
As per BonnyCI/projman#64:

If (ever?) nodepool cannot connect to a newly created virtual machine this is a problem and should raise an event we monitor. It either means bad networking or bad images and we care about both.

[2017-03-22 20:57] loafyloaf opened #185 "Add job duration monitor"
As per BonnyCI/projman#64:

We should monitor the time jobs take and notice a significant deviation.

[2017-03-22 21:06] loafyloaf opened #186 "have github jobs notify if they do not complete"
An earlier outage (BonnyCI/projman#64) was discovered when github jobs that were being watched never went to a completed state.  They did not get marked as failed, or no response they just never responded. This should be fixed: if a job does not complete with a given time it should notify us and the user.

[2017-03-22 21:14] loafyloaf commented on #64
issues have been created from the info in this issue, and they all reference back to this one.

[2017-03-22 21:14] #64 closed, assigned to loafyloaf

[2017-03-22 22:28] ConsoleCatzirl opened #187 "Collect uptime metrics"
We should have various numbers describing our uptime.

**Criteria:**

- [ ] Uptime information is sent to datadog
- [ ] Some basic alerts are in place

[2017-03-22 22:30] omgjlk commented on #136
Need to implement functionality to load zuul config bits from project repos, and list the project repos in the main.yaml file. Currently throws a `NotImplemented` error when trying to discover what branches exist.

[2017-03-22 22:30] ConsoleCatzirl opened #188 "Document RCA process"
We should have a standard procedure for root-cause analyses, and it should be documented in our lore.

[2017-03-22 22:34] ConsoleCatzirl opened #189 "Define clear channels of communication with other ops teams"
We need to have clearly-defined channels of communication with the various services we depend on, such as our cloud provider(s) and our monitoring service(s).

[2017-03-22 22:36] ConsoleCatzirl commented on #188
This should probably also include metrics around mean-time-to-failure and mean-time-to-recovery.

[2017-03-23 00:46] omgjlk commented on #136
https://review.openstack.org/448257 filters changes by trigger type. Allows multiple drivers in the same zuul.

[2017-03-23 14:22] #172 closed, assigned to mlangbehn

[2017-03-23 18:09] omgjlk commented on #136
https://review.openstack.org/449258 adds support for github enterprise.

[2017-03-23 19:12] omgjlk opened #190 "Develop tooling to enforce deletion of cloud resources and containers that exist for too long to mitigate possible undetected breakouts"
TODO: Turn into a milestone, create single issue to create a spec, spec card goes into TODO column bottom.

[2017-03-23 19:13] jasontclark opened #191 "EPIC: Deliver a design mockup for bonnyci.org"
This task has been created to support this vision statement: `On June 1st, BonnyCI.org is the premiere landing website for all things related to BonnyCI. It has extensive resources for users, operators, and contributors to the BonnyCI community. The website and docs are branded with a specific BonnyCI look and feel that is very usable, and contains elements of our team's humor and style.`

Pages t

[2017-03-23 19:13] #177 closed, assigned to mlangbehn

[2017-03-23 19:14] ConsoleCatzirl opened #192 "Develop a plan for breach detection"
- [ ] Write a spec

[2017-03-23 19:16] ConsoleCatzirl opened #193 "Write down our plan for vulnerability management"

[2017-03-23 19:21] gandelman-a opened #194 "Increase quota on node pool project"
This project should be fairly free to use as much as it can. We can monitor runaway node pool with data dog by charting # of active instances over time, since all the instances will be in a single project.

[2017-03-23 19:22] gandelman-a opened #195 "Add a force option to ansible-runner"
Sometimes we need to disable cron, but run deployments by hand. If cron is disabled, hand-runs will be blocked. Having an argument to force the run would be useful.

[2017-03-23 20:15] SpamapS commented on #110
No point in doing this on 2.5 per grooming meeting today.

[2017-03-23 20:28] ConsoleCatzirl commented on #127
We can possibly handle this Exception by reporting to all found PRs that multiple PRs were found, preventing processing.

[2017-03-23 20:51] omgjlk commented on #166
Maybe turn off ssh control sockets?

[2017-03-23 20:52] gandelman-a commented on #166
https://github.com/BonnyCI/hoist/pull/237  is a patch i was rechecking to debug it, but with no luck

[2017-03-23 23:58] omgjlk commented on #136
https://review.openstack.org/449365 adds triggering on positive pr reviews

[2017-03-24 01:48] omgjlk commented on #136
https://review.openstack.org/449390 adds support for requiring status on pr HEAD

[2017-03-25 00:41] rattboi opened #196 "Documentation: Personal Cloud Accounts refers to non-existent file "create-users-projects""
This page: http://bonnyci.org/lore/developers/dev-environment/personal-cloud-accounts.html

refers to:
https://github.com/BonnyCI/hoist/blob/master/create-users-projects.yml

That file doesn't exist. Perhaps it's supposed to be create-cloud-resources instead?

[2017-03-25 00:49] #181 closed, assigned to nobody

[2017-03-25 01:08] rattboi opened #197 "Investigate adding github hook support to quartermaster"
We discussed previously having the github events go through the bot in order to have more control over the format of said events.

These would be along the same lines as the IRC notifications we already get when pushes/merges happen, etc, except we could show them in a more concise manner. There are also possibly other events that we can tap into, if we are interested.

https://github.com/errbotio

[2017-03-25 01:16] rattboi commented on #150
We've decided to leave the original quartermaster behind and move forward with a new bot based on errbot. There are a series of tasks involved in standing up the bot and starting to use it. This can be tracked here: https://github.com/BonnyCI/projman/issues/174

Since this issue is for the standup aspect of the bot, I'm going to use this for standup functionality status.

I've got a WIP PR for the

[2017-03-27 15:51] jasontclark commented on #191
An initial attempt to create a Landing Page for BonnyCi.org

![bonnyci_design_landing_03272017](https://cloud.githubusercontent.com/assets/40251/24365349/a74f9940-12e3-11e7-93e0-b66e7379af85.png)

[2017-03-27 19:43] omgjlk opened #198 "Draft spec for resource use timeout and deletion"
This work will require a spec and review process. This issue covers the creation and acceptance of such a spec.

[2017-03-27 19:44] omgjlk commented on #190
Work completed.

[2017-03-27 19:44] #190 closed, assigned to omgjlk

[2017-03-27 20:13] #183 closed, assigned to loafyloaf

[2017-03-27 20:29] missaugustina commented on #157
Update from Adam: Blocked by network configuration issues right now.

Q from Adam: Is this valuable for anyone? Does anyone want to be able to spin up their own environment?
A: yes - ops, testing, etc.

[2017-03-27 20:33] #126 closed, assigned to ConsoleCatzirl

[2017-03-27 20:47] #128 closed, assigned to nobody

[2017-03-27 20:49] rattboi commented on #57
https://github.com/BonnyCI/projman/issues/173 is the issue tracking what is lacking with the current role/configuration.

[2017-03-27 20:49] #57 closed, assigned to rattboi

[2017-03-27 20:50] omgjlk commented on #102
Blocked by BonnyCI/projman#157

[2017-03-27 20:53] jamielennox commented on #77
Talking with Ivan Žužak <support@github.com>

Email on 	24 Mar thinking that github upstream had solved it. Replied on 27 Mar to say that it's still not fixed.

[2017-03-27 20:53] SpamapS commented on #45
Since this is just "blocked" on upstream zuulv3 dev, we can put this back in the Backlog. It is just waiting behind work we can do ourselves.

[2017-03-27 21:13] SpamapS commented on #138
Making myself available if you need help. :)

[2017-03-28 21:22] gandelman-a opened #199 "Failed merges should use a non-default failure message"
We currently post back a message when tests fail, with a link to test output for debugging.

We also post back a message if Zuul cannot merge an approved patch for whatever reason, see: https://github.com/BonnyCI/hoist/pull/274

[code]

This is a default message in Zuul and can be configured.  We should instead use a custom message with a link to a page on bonnyci.org that briefly describes the va

[2017-03-28 21:26] gandelman-a opened #200 "API Commands to github are not retried."
Our github API requests do not get retried on failure.  In one instance, a temporary network blip prevented Zuul from updating the status after a check job finished.  From the PR POV, the job never completed and was still running (a yellow pending button on the check).  The user was left wondering what was going on since the Zuul status page correctly did not report it as running.  We should proba

[2017-03-29 10:46] jasontclark commented on #116
Created an etherpad to capture our drafts: https://etherpad.openstack.org/p/bonnyci_summary_drafts

[2017-03-29 20:26] eggshell commented on #144
I popped into #zuul today and asked some questions about how to get this done. The irc log is below:

[code]

So I'll be researching how to implement this according to the direction Jim and Monty provided.

[2017-03-30 15:52] eggshell commented on #144
I've broken this story up into three more digestible tasks. They are noted in the initial comment above.

[2017-03-30 18:22] gandelman-a opened #201 "EPIC: Test zuul and nodepool configuration in isolation"
* [ ] Test zuul.conf is valid without relying on a running nodepool (possibly use a static slave)
* [ ] Test nodepool.yaml works without connecting to a running zuul (mock zuul by writing events directly to zookeeper)

[2017-03-30 20:53] jasontclark opened #202 "Provide a clean HTML output for our IRC logs."
Our IRC logs should have the ability to be viewed in a clean HTML format.   Research a means to convert the IRC logs generated by Errbot into HTML output.

- [X] Test irclog2html locally.
- [X] Write the ansible code that adds the irclog2html functionality to the quartermaster role.
- [ ] Deploy irclog2html to a local environment (VM, docker container).
- [ ] Submit PR.

[2017-03-30 20:55] jasontclark commented on #191
Currently working on the Docs page mockup.

[2017-03-30 22:05] jamielennox commented on #138
The three real competitors i know of here are:

- https://www.zenhub.com/
- https://waffle.io
- https://huboard.com

Zenhub was somewhat hated in pyrrrat cloud - but that was largely because that was on github enterprise and so you could only download a specific addon, that was completely unsecured, and only worked in some browsers. I don't think that should be a reference for Bonny.

[2017-03-30 22:18] jamielennox commented on #138
https://zube.io/ seems to be another - and now i'm going to stop looking at this stuff.

[2017-03-30 23:22] omgjlk opened #203 "Implement caching of github data"
Zuul github code makes a lot of API calls during operation. When doing this as an Integration we can quickly hit a limit or get seen as spam. A caching layer would go a long way to preventing this from happening (again).

We feel that some level of caching can be hacked into the Zuul github code as-is (github3.py) without doing a full rewrite, although we would like to rewrite it in the future.

S

[2017-03-31 22:30] SpamapS commented on #197
This ticket lacks information for what said github hooks would do.

[2017-03-31 22:32] SpamapS commented on #191
Mmm, colors.

[2017-03-31 22:35] SpamapS commented on #138
This issue has now morphed from doing webhooks to move cards, to possibly migrating to something else. I'll stay assigned and try to do some analysis of the mentioned tools.

[2017-04-01 17:22] SpamapS opened #204 "Make CNCF Demo run in BonnyCI"
https://github.com/cncf/demo doesn't work with OpenStack. CNCF is looking at deploying that demo as a way to do cross-repo CI. If we wanted it to work with BonnyCI, we likely need to make sure the demo can install across multiple OpenStack nodes, and we may need to feed it credentials for the OpenStack cloud it is deployed in too.

[2017-04-01 17:46] SpamapS commented on #204
Note this is an upstream issue now too https://github.com/cncf/demo/issues/198

[2017-04-03 04:01] #150 closed, assigned to rattboi

[2017-04-03 18:43] mlangbehn commented on #174
Looks like #150 is done. Can we check it off and move it out of "In Progress?"

[2017-04-03 18:48] mlangbehn commented on #197
@rattboi: Please update the issue description per @SpamapS's comment.

[2017-04-03 18:50] rattboi commented on #197
@mlangbehn ok, ticket description updated

[2017-04-03 18:51] mlangbehn commented on #77
@jamielennox if this issue is no longer blocked, please drop a note in here.

[2017-04-03 18:53] mlangbehn commented on #196
@jasontclark please update on the status of this issue.

[2017-04-03 19:25] rattboi commented on #150
The first version of the standup bot feature is completed, with BonnyCI/errbot-extensions#3 landing in master. There is a separate web viewer part that needs completed, but that's not part of this issue, so I'm going to close this.

[2017-04-03 20:12] jamielennox commented on #77
Let's have a strategy and start merging people this week.

Github seems to have fixed everything we need.

[2017-04-03 22:17] ConsoleCatzirl commented on #141
Since all state is stored in github and all our secrets can be regenerated, there is nothing that *must* be backed up. However, backups of our secrets, of our system logs, and of test output are all Nice To Have™.

[2017-04-04 00:38] ConsoleCatzirl commented on #141
Here's a script that could be used to backup our github org (including wiki and issues): https://gist.github.com/rodw/3073987

[2017-04-04 01:30] ConsoleCatzirl commented on #141
[Duplicati](https://github.com/duplicati/duplicati) looks like it may do most of what we need.

[2017-04-04 16:53] loafyloaf commented on #98
so far, the associated PR creates a custom check.  a monitor will need to be added to monitors.yml in datadog-monitors to query this check.

[2017-04-04 17:09] mlangbehn commented on #38
I'm not making much progress with the apache role for the following reasons:

* No obvious issue in the code is standing out to me
* Running only the apache role does not reproduce the issue
* Running only the `zuul` or `logs` tags fails for an unrelated reason
  * Running with `--tags zuul,logs` also fails

[2017-04-04 17:12] eggshell commented on #98
I've added the needed datadog monitor in BonnyCI/datadog-monitors#16

[2017-04-04 17:31] #161 closed, assigned to loafyloaf

[2017-04-04 20:57] omgjlk opened #205 "Failures building zuul venvs"
We're getting errors running Zuul tests, http://logs.bonnyci.org/gate_github/BonnyCI/zuul/36/1491339087.87/tox_py27/console.html

It looks like a problem building the Pillow library, which may have recently updated.

[2017-04-04 21:15] omgjlk commented on #205
Pillow 4.1.0 did release just 3 hours ago. Testing in a venv I can confirm that for 4.0.0 we do not need jpeg dev libraries. But 4.1.0 installs fail. Installing the jpeg dev libraries gets 4.1.0 to install.

[2017-04-04 23:54] #205 closed, assigned to omgjlk

[2017-04-05 17:23] ConsoleCatzirl opened #206 "Apache misconfigured on elk host"
While checking the apache access log to verify that kibana is working, I noticed many arbitrary websites being accessed, such as:

[code]

Note that some are returning 200s.

[2017-04-05 17:26] ConsoleCatzirl commented on #206
It looks like the vhost configuration has several unwanted server aliases:

[code]

[2017-04-05 17:38] ConsoleCatzirl commented on #206
I've proposed BonnyCI/hoist#299 to remove the strange server aliases.

[2017-04-05 17:43] gandelman-a opened #207 "Jobs failing with POST_FAILURE"
Jobs are failing quickly with a POST_FAILURE error.

Looking through logs the zuul-launcher  appears to be having problems reaching the slaves to do its ansible runs: http://paste.openstack.org/show/605543/

[2017-04-05 17:59] gandelman-a commented on #207
This looks like it was caused by stale jobs registered in gearman for nodes that no longer exist.  We bounced the zuul/gearman service and rebuilt nodepool slaves and it appears to be working again. Will reopen this if we run into it again.

[2017-04-05 17:59] #207 closed, assigned to nobody

[2017-04-05 19:25] ConsoleCatzirl commented on #206
A better server alias fix is proposed in BonnyCI/hoist#302

[2017-04-05 19:28] ConsoleCatzirl commented on #206
The apache service has been stopped on elk, and ansible crons disabled to prevent the service from being re-enabled

[2017-04-05 20:27] ConsoleCatzirl commented on #206
The unexpected server aliases have been removed from the configuration, and a vm rebuild has started.

[2017-04-05 21:06] ConsoleCatzirl commented on #206
The `ProxyRequests` directive should not be enabled. BonnyCI/hoist#306 disables that directive.

[2017-04-06 00:14] gandelman-a commented on #206
So it looks like we have people scanning our public IP blocks looking for things like this.  It looks like this proxy got picked up and added to the backend of some public proxy service.  After disabling the ProxyRequests, the server was still receiving loads of proxy requests but we were serving them the kibana dashboard in return.  I've added https://github.com/BonnyCI/hoist/pull/307 which sets

[2017-04-06 00:15] gandelman-a commented on #206
Actually, I forgot to git add an inventory to properly set up the vhost, https://github.com/BonnyCI/hoist/pull/309   In the meantime, proxy requests are still denied

[2017-04-06 01:35] ConsoleCatzirl commented on #206
We are no longer acting as an open proxy.

[2017-04-06 01:35] #206 closed, assigned to gandelman-a, ConsoleCatzirl

[2017-04-06 04:52] gandelman-a opened #208 "bastion load monitors trigger every 15min with cron jobs"
We expanded the number of cron jobs the bastion runs every 15 min.  it now deploys a total of 3 ansible playbooks, all via cron ticked at 15min.  It's blowing up the monitor every 15min and spamming slack with warnings.  We should either increase the threshold for the monitor (1.5 is the load threshold now, i think), stagger out the cronjobs so they are not running at the same time, or come up wit

[2017-04-06 14:17] jasontclark commented on #191
Had a chat w/ Vince Brunssen who is helping us find graphic design resources.  Shared w/ him our convo on IRC yesterday.

[2017-04-06 17:18] ConsoleCatzirl commented on #192
Tangentially related: BonnyCI/hoist#312 adds a fail2ban role to mitigate abuse attempts.

[2017-04-06 19:39] ConsoleCatzirl commented on #192
Options:

1. Deploy open-source IDS tools such as snort or OSSEC.
2. Build tooling around ELK to monitor or periodically query logs.

[2017-04-06 20:13] ConsoleCatzirl commented on #141
Since we don't have swift enabled on our cloud, our best on-site location would be a dedicated VM.

[2017-04-06 20:17] ConsoleCatzirl commented on #103
We have elk tasks in our validation playbook, which runs in our test suite. Marking this done.

[2017-04-06 20:17] #103 closed, assigned to ConsoleCatzirl

[2017-04-06 21:29] SpamapS commented on #192
Network IDS would require that we somehow push traffic through our own routers. I believe that's entirely doable with security groups doing the egress, just not sure how much it might cost us in network performance.

We should also think about host IDS, like tripwire.

[2017-04-06 21:33] SpamapS commented on #192
We can even take advantage of our cloudyness and mount disk snapshots to do tripwire checks and rootkit checks offline.

[2017-04-07 13:51] mlangbehn commented on #98
@eggshell, should we mark this issue as done, now that BonnyCI/datadog-monitors#16 has merged?

[2017-04-07 13:56] mlangbehn commented on #195
Finishing testing changes locally and will open a pull request soon.

[2017-04-07 14:22] eggshell commented on #98
@mlangbehn  yes, I'll go ahead and close it.

[2017-04-07 14:22] #98 closed, assigned to eggshell

[2017-04-07 14:43] mlangbehn commented on #154
Confirmed that we are expecting the correct behavior by testing manually:

[code]

[2017-04-07 17:36] eggshell opened #209 "Get host keys from zookeeper and pass to ansible"
Now that we have nodes' host keys in zookeeper, zuul should grab these and pass them to ansible.

Storyboard link:
https://storyboard.openstack.org/#!/story/2000897

[2017-04-07 17:57] eggshell commented on #144
Initial review for first task:
https://review.openstack.org/#/c/454826/

[2017-04-07 18:29] anne-bonny opened #210 "ansible-runner's --force option breaks the ansible run"
The newly added '--force' option works to ignore the /etc/disable/ansible-runner-* files but the script continues to pass the '--force' argument onto ansible, which fails because it is an unknown argument.   If specified, the --force option would need to be removed/shifted out of $@ before passing on to ansible-runner.  This is slightly complicated by the fact that the runner script calls itself v

[2017-04-07 18:59] gandelman-a opened #211 "The ansible-runner's --force option breaks the ansible run"
newly added '--force' option works to ignore the /etc/disable/ansible-runner-* files but the script continues to pass the '--force' argument onto ansible, which fails because it is an unknown argument. If specified, the --force option would need to be removed/shifted out of $@ before passing on to ansible-runner. This is slightly complicated by the fact that the runner script calls itself via run-

[2017-04-07 20:12] #195 closed, assigned to mlangbehn

[2017-04-07 20:15] #210 closed, assigned to mlangbehn

[2017-04-10 19:58] #208 closed, assigned to loafyloaf

[2017-04-10 20:03] #211 closed, assigned to mlangbehn

[2017-04-10 20:03] #194 closed, assigned to gandelman-a

[2017-04-10 20:07] colettecello commented on #116
Hey there! Any updates on when we can expect this to move along/be done?

[2017-04-10 21:31] omgjlk commented on #124
One theory is that when the gate checks finish, zuul will add a status for gate_github as success. When this happens, GitHub sends a hook notification. Zuul gets this, and attempts to schedule it. The gate pipeline will trigger on a status event, presumably on just `anne-bonny:check_github:success`. The way Zuul determines this for github may be broken, it may be looking at the PR and seeing that

[2017-04-10 22:30] omgjlk commented on #124
[15:02:54]  <+jlk>	adam_g: jesusaur: I think y'all were right with your hunch on the merge attempt cycle.
[15:03:16]  <+adam_g>	jlk: orly?
[15:03:51]  <+jlk>	adam_g: jesusaur: If I'm following the code right, any status event will spin up the event handler. The event handler will figure out the PR that matches the status event, and build up a pull request object of it, which will include _all_ the

[2017-04-11 00:51] eggshell commented on #199
I've taken a look into this and it should involve two simple pull requests:

- [x] documentation page under the `use` section of bonnyci.org which lists the possible scenarios for merge failures and how to troubleshoot them.

- [x] modification of BonnyCI/hoist which modifies `layout.yaml` to use the merge failure message in the check and gate queues.

[2017-04-11 17:46] gandelman-a commented on #204
Some notes as I hack on this more...

*  Regardless of what happens with using the demo repo for testing, it would benefit from getting support for provisioning demo nodes on an openstack cloud, it would at least allow us openstack nerds to play with it in the short-term.   I have some code to do that by wrapping ansible in the cncfdemo-cli thing,  that I'll push it up somewhere and link here

* T

[2017-04-11 19:28] mlangbehn commented on #154
While @j2sol and I took a look at this issue together, we found that issue is with `setfacl` modifying the POSIX permissions.

According to [RedHat's documentation on POSIX ACLs][1], this is expected behavior. As such, I am now testing a change to have us treat permissions the way our systems are treating them.

[1]:https://access.redhat.com/documentation/en-US/Red_Hat_Storage/2.0/html/Administrat

[2017-04-11 20:07] eggshell commented on #199
Both of the PRs have merged, so this can be closed out and moved to Done.

[2017-04-11 20:07] #199 closed, assigned to eggshell

[2017-04-12 12:53] jasontclark commented on #191
Documentation page mockup:

![bonnyci_design_docs_04122017](https://cloud.githubusercontent.com/assets/40251/24959735/80e71b40-1f61-11e7-9995-e10fb45a5c48.png)

[2017-04-12 13:06] jasontclark commented on #191
Beta page mockup:

![bonnyci_design_beta_04122017](https://cloud.githubusercontent.com/assets/40251/24959471/e9f8ca9e-1f60-11e7-8320-8de8c689df6b.png)

[2017-04-12 13:39] jasontclark commented on #191
Just realized that the DOCS page and the LORE page are essentially the same thing. Probably need to remove one or the other.  IMHO, I prefer 'DOCS' over 'LORE'.

[2017-04-12 13:44] jasontclark commented on #191
About page mockup:

![bonnyci_design_about_04122017](https://cloud.githubusercontent.com/assets/40251/24960697/85c98af0-1f64-11e7-99a2-2fa83bb66634.png)

[2017-04-12 13:48] jasontclark commented on #116
@colettecello I'm working on it this morning.  We should have a decent draft ready for review this afternoon.

[2017-04-12 14:32] jasontclark commented on #116
Two draft summaries have been added to the etherpad: https://etherpad.openstack.org/p/bonnyci_summary_drafts

[2017-04-12 15:10] mlangbehn commented on #154
Issue resolved.

[2017-04-12 15:10] #154 closed, assigned to mlangbehn

[2017-04-12 19:49] eggshell commented on #209
This was taken care of by pabelanger in https://review.openstack.org/#/c/446785/

[2017-04-12 19:49] #209 closed, assigned to eggshell

[2017-04-12 20:53] jasontclark commented on #138
Updated the original description of this card to indicate which tools we will research.

[2017-04-12 21:04] jasontclark commented on #138
Tools Analysis Table:

| Tool | 'Moves to Done' | 'Moves to In-Progress' | 'Adds to Backlog' |
|-----|------------------|------------------------|------------------|
| ZenHub | | | |
| Waffle.io | 👍  | 👍 | 👍  |
| Huboard | | | |
| Zube.io | | | |

[2017-04-13 15:07] mlangbehn commented on #49
Currently blocked by the issue with `[ zuul: Install job definitions ]` in CI.

[2017-04-13 17:14] mlangbehn opened #212 "CI failures on Zuul role"
Currently, `hoist/tests/test-hoist-ansible.sh` is failing:

[code]

[2017-04-13 17:15] mlangbehn commented on #212
This is issue is impacting tests being run in both [BonnyCI][1] and [Travis CI][2].

[1]:https://logs.bonnyci.org/check_github/BonnyCI/hoist/333/1492098119.86/bonnyci-run-check-multinode/console.html#_2017-04-13_15_46_33_366541
[2]:https://travis-ci.org/BonnyCI/hoist/jobs/221383850#L1481

[2017-04-13 18:50] eggshell opened #213 "Need v3 voluptuous fixes on our fork"
There were some updates to the voluptuous schema that need cherry-picking onto our fork. The commit hashes are:

9ada50e87a72d77d94cab0354ebb85b1de68c903
0a38b6c5680f5c7cb23fab91dbfc84f88024829d

[2017-04-13 19:17] gandelman-a commented on #212
So this ended up being related to a new upstream ansible. We were previously vendoring a plugin to workaround  a bug. The bug was fixed in the new upstream release, but the new release was also incompat with our in-tree plugin.  Simply dropping the in-tree plugin fixes it.

[2017-04-13 19:17] #212 closed, assigned to gandelman-a, ConsoleCatzirl

[2017-04-13 19:42] gandelman-a commented on #157
So we got together and chatted about this yesterday.  It doesn't seem like allowing each of us to spin up environments that are identical to production, with similar number of nodes and networks, is feasible. We'd be quickly exhausting the limits of our cloud.  Instead we will:

* Expand documentation and any required code around the allinone docker deployment to allow devs to easily hook up nodep

[2017-04-13 19:42] eggshell commented on #213
The cherry pick PR merged, and it looks like testing is back to normal.

[2017-04-13 19:42] #213 closed, assigned to eggshell

[2017-04-13 20:16] ConsoleCatzirl opened #214 "Nodepool created failing images"
Diskimage-builder released version 2.3.1 which failed to install a working virtualenv executable.

[2017-04-13 20:16] ConsoleCatzirl commented on #214
Diskimage-builder released verison 2.3.2 to fix the pip-and-virtualenv element.

[2017-04-13 20:16] #214 closed, assigned to nobody

[2017-04-13 20:20] gandelman-a opened #215 "nodepool DIB builds should validate themselves"
In discussion about recent DIB upstream breakages, we have an idea!

As part of our bonnyci DIB elements, we should have a late-running script/task that does some validation of the image during build time. This could include:

* checking that we have a functioning python environment and things like virtualenv function
* checking that the zuul-cloner that we install can load and do something (a sim

[2017-04-13 20:28] ConsoleCatzirl commented on #215
This is in response to #214

[2017-04-13 23:35] rattboi opened #216 "Need a web viewer for standups"
Entering your personal standup via IRC is fairly convenient, but viewing everyone's standup for any given day would be much more convenient via a web viewer.

[2017-04-13 23:35] rattboi commented on #216
The repo for this is https://github.com/BonnyCI/standup-webapp . The initial version is now complete.

[2017-04-13 23:37] rattboi commented on #216
This issue is now complete, with the deployment automation done in https://github.com/BonnyCI/hoist/pull/336

You can see standups at http://bot.bonnyci.org/standups/ , as soon as DNS propagates.

[2017-04-13 23:37] #216 closed, assigned to rattboi

[2017-04-14 18:40] gandelman-a commented on #204
Been chatting a bit (via  github issues) with the people working on the cncf-demo.  It sounds like the building, provisioning and deployment of the underlying k8s is just a means to an end, and we may be better off trying to provide a k8s cluster as a nodepool multinode label.   They're in the process of moving the provisioning stuff to terraform, so in theory openstack support could be baked into

[2017-04-14 20:23] omgjlk opened #217 "Failure to start fail2ban in docker allinone"
Fails to start because it's looking for /var/log/auth.log, which doesn't exist in a docker container which is not running sshd.

[2017-04-14 20:26] omgjlk commented on #217
This was "fixed" in travis.yml, but that didn't make it over to `./tools/docker-deploy.sh`. Maybe travis should use the docker-deploy bits?

[2017-04-14 22:39] omgjlk commented on #157
As for allinone, there is a test script that's documented. What isn't documented is the use case of functional node pool.

We'd need to document which secrets in the sample file, or an additional file to be referenced with `-e @<file>` need to be filled in with real (personal) data to lead to a functional node pool.

I think that we need to fill out

- `clouds: cicloud`
- `zuul_github_api_key`
- `

[2017-04-14 22:42] ConsoleCatzirl commented on #141
Duplicati has some heavy dependencies (e.g. Mono). But [borgbackup](https://borgbackup.readthedocs.io/en/stable/quickstart.html) coupled with sshfs will give us compressed incremental backups without needing to give all hosts access to the backup host.

[2017-04-14 22:44] #217 closed, assigned to omgjlk

[2017-04-14 22:44] ConsoleCatzirl commented on #141
Documented at http://bonnyci.org/lore/admins/backups/

[2017-04-14 22:44] #141 closed, assigned to ConsoleCatzirl

[2017-04-14 22:46] omgjlk commented on #124
This should be all good once we restart Zuul.

[2017-04-14 22:46] #124 closed, assigned to omgjlk

[2017-04-14 22:46] ConsoleCatzirl opened #218 "Implement our backup plan"
Implement our [backup plan](http://bonnyci.org/lore/admins/backups/)

[2017-04-14 22:46] omgjlk commented on #200
Should be fixed once zuul is restarted.

[2017-04-14 22:46] #200 closed, assigned to eggshell

[2017-04-14 22:58] omgjlk commented on #118
Would be good to have more info around this, like what PR this came in on or whatnot.

[2017-04-17 15:21] #118 closed, assigned to omgjlk

[2017-04-17 15:28] jasontclark commented on #196
Moved to DONE.

[2017-04-17 15:28] #196 closed, assigned to jasontclark

[2017-04-17 18:21] mlangbehn commented on #49
Removed the item to `Identify other tests and add them to the checklist (or create additional Issues and link them here)`, because that is an ongoing process and is therefore outside the scope of this issue.

[2017-04-17 18:21] #49 closed, assigned to mlangbehn

[2017-04-17 18:53] omgjlk commented on #203
Closed as the zuul code for this merged.

[2017-04-17 18:53] #203 closed, assigned to jamielennox

[2017-04-17 20:06] missaugustina commented on #137
Wrapping up by summarizing research and simplifying the slides by aggregating separate results into single plots. This should be done in the next couple of days.

[2017-04-17 20:43] #185 closed, assigned to loafyloaf

[2017-04-17 21:47] eggshell opened #219 "Need to execute DIB image builds as part of CI tests"
Currently, we don't do DIB image builds as part of our testing. This presents a situation where changes to hoist's image build process go untested and get pushed to production. This *should* involve the following tasks:

- [ ] create a job template to install deps and build an image using our nodepool elements in `roles/zuul/files/jobs/bonnyci.yaml`.
- [ ] execute this job by adding it to bonnyci'

[2017-04-17 22:05] gandelman-a opened #220 "HTTPS for bonnyci.org broken due to github pages"
We host bonnyci.org with github pages. Attempts to access it via https fail because the cert is a github cert.  We are pointing users to https://bonnyci.org from (at least) Zuul merge failure messages.  We should either fix the site to support HTTPS or redirect to HTTP if its not possible /w github pages + a custom domain.

[2017-04-17 23:45] omgjlk commented on #77
Discussion happened on IRC and in response to https://github.com/BonnyCI/bonnyci.org/pull/61

Current plan is to merge https://github.com/BonnyCI/zuul/pull/39 and restart Zuul. After which we can try moving an existing repo (such as https://github.com/j2sol/giftwrap) over to the integration. We'll need to merge https://github.com/BonnyCI/hoist/pull/349 shortly after restarting once we know things

[2017-04-18 02:11] ConsoleCatzirl opened #221 "Restart playbook should build nodepool nodes, not new nodepool images"
The hoist restart playbook builds new nodepool images at the end. Instead, it should trigger node builds (e.g. by deleting old nodes).

[2017-04-18 18:14] ConsoleCatzirl opened #222 "Zuul Integration is unable to merge changes"
BonnyCI/hoist#348 is failing to merge after the gate jobs finish.

The zuul server log shows:
[code]

And the related server-requests log leading up to that shows:
[code]

[2017-04-18 18:20] ConsoleCatzirl commented on #222
According to [the docs](https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button) that 405 response means the merge could not be performed.

[2017-04-18 18:40] ConsoleCatzirl commented on #222
The integration permissions page is somewhat cryptic, but it looks like [pull request access](https://developer.github.com/early-access/integrations/permissions/#permission-on-pull-requests) gives read access to the merge endpoint, and [repository contents permission](https://developer.github.com/early-access/integrations/permissions/#permission-on-contents) give write access to the merge endpoint

[2017-04-18 18:56] gandelman-a commented on #222
Yep, looks like a permission issue on the repo. The actual response msg from github on the merge attempt is:

MergeFailure: Merge was not successful due to mergeability conflict, original error is 405 You're not authorized to push to this branch. Visit https://help.github.com/articles/about-protected-branches/ for more  information.

[2017-04-18 19:19] ConsoleCatzirl commented on #222
Unchecking `Restrict who can push to this branch` from the branch protections allowed the integration to merge the change.

[2017-04-18 19:32] #222 closed, assigned to gandelman-a, ConsoleCatzirl

[2017-04-18 22:40] omgjlk commented on #122
This was completed by https://github.com/BonnyCI/bonnyci.org/pull/62

[2017-04-18 22:40] #122 closed, assigned to nobody

[2017-04-18 22:41] omgjlk commented on #77
Looks like all the items here have been completed.

[2017-04-18 22:41] #77 closed, assigned to jamielennox, omgjlk

[2017-04-18 23:30] ConsoleCatzirl commented on #218
This is being implemented in BonnyCI/hoist#335

[2017-04-18 23:35] ConsoleCatzirl commented on #218
- [x] Create ansible roles for backup clients and server
- [x] Configure list of backup source directories
- [x] Allow backups to happen at various times and intervals
- [x] Test restoring from backup
- [x] Delete expired backups

[2017-04-19 17:39] rattboi opened #223 "Bonny monitors should be better tested before merging"
Currently, datadog monitors are run against a schema check that exists within datadog-builder, which finds obvious issues, but can't find issues such as illegal references in the query string, as this is dependent on the configuration of the datadog instance, such as which integrations we are using (like zuul, nodepool, gearman, etc).

[2017-04-19 17:44] rattboi commented on #223
I propose we can fix this by extending datadog-builder to individually push monitors one at a time, making sure they pass datadog's blackbox validation, then immediately removing them. Since we don't have an accurate model of what is tested by datadog, this seems the most straightforward test.

Datadog, on POST of a bad monitor, will send a 400 Bad Request Client Error, so we can capture those and

[2017-04-19 22:19] ConsoleCatzirl commented on #162
Is it enough to include all the logs in our backups, and have a long-ish retention?

[2017-04-20 18:46] jasontclark commented on #191
Research page mockup:
![bonnyci_design_research_04202017](https://cloud.githubusercontent.com/assets/40251/25247183/25cfc784-25d8-11e7-9ee9-ab0cfaf89bf4.png)

[2017-04-20 19:17] gandelman-a opened #224 "We aren't monitoring for ansible-runner failures"
Our deployment ansibles get run asynchronously via cron.  We are currently not monitoring them in any way.  If one is failing, it usually doesn't get noticed until one of us bothers to look.  We should output something from ansible-runner tasks that indicate failure, and pick up on that via a datadog monitor.  This can be something as simple as dropping a file for the failing environment somewhere

[2017-04-20 20:22] rattboi commented on #173
https://github.com/BonnyCI/hoist/pull/357 is a stop-gap to deal with the massive sqlite db we have now.

I'm going to start actively working the real solution for this, as ARA has found a few errors for us, and having is be usable would be to the benefit of us all

[2017-04-20 20:48] rattboi opened #225 "Cert Error when zuul merge errors leave comment with link to https://bonnyci.org/"
When bonnyci can't merge on the user's behalf, for a number of reasons (branch protection, racing with other required integrations, etc), it leaves a comment with a link to https://bonnyci.org/

This site is actually hosted by github, so there's a NET::ERR_CERT_COMMON_NAME_INVALID error because the domain name bonnyci.org doesn't match the real domain, github.io

[2017-04-20 20:50] rattboi commented on #225
Duplicate of: https://github.com/BonnyCI/projman/issues/220

[2017-04-20 20:50] #225 closed, assigned to nobody

[2017-04-20 21:02] jasontclark commented on #191
Status page mockup:

![bonnyci_design_status_04202017](https://cloud.githubusercontent.com/assets/40251/25252486/2aa09942-25eb-11e7-83b9-3abc698ed87e.png)

[2017-04-20 21:17] jasontclark commented on #218
Added myself from a documentation perspective.

[2017-04-21 13:35] mlangbehn commented on #116
@jasontclark: I replied on the etherpad. I like draft 2, but I think it needs to include "open source."

[2017-04-21 23:11] #223 closed, assigned to rattboi

[2017-04-24 20:31] SpamapS commented on #139
Blocked on upstream merging github to feature/zuulv3

[2017-04-24 20:37] jamielennox opened #226 "Can't use BonnyCI integration and branch protection"
When using the BonnyCI integration it creates a bonnyci[bot] user. Github doesn't view this as a real user and so you can't select it in the branch protection drop down. This means you can't use the integration and have branch protection enabled which is going to be a really common situation.

Forum issue: https://platform.github.community/t/repositories-which-have-protected-branches-with-push-res

[2017-04-24 20:39] jamielennox commented on #226
I also emailed github and got a non committal response:

[2017-04-24 20:45] SpamapS commented on #204
Blocked on requirement for v3 auth system to spin up other cloud resources.

[2017-04-24 21:23] eggshell commented on #219
@SpamapS In the milestone meeting this week we talked about executing builds as a periodic job(s) and caching things we use as elements to speed up build times as other things we could do alongside testing changes to elements in hoist as ways to improve our usage of DIB.

Should we convert this to an epic and let the building of images upon proposed elements changes as part of hoist's CI (BonnyCI/

[2017-04-25 13:57] loafyloaf commented on #187
so, datadog collects a boat-load of metrics, both from the 'physical' machines we monitor, as well as services checks and other uptime stats through their integrations (apache, zookeeper, etc).  We have basic alerts set up for all hosts.

[2017-04-25 18:13] mlangbehn commented on #187
@loafyloaf added me to our DataDog team, and I am now able to see what is being sent and how to access it.

[2017-04-25 19:31] mlangbehn commented on #187
Among the metrics we are already sending to DataDog are system uptime and service availability. I had been reading this issue as requesting that system uptime be sent to DataDog, but that is less useful for us than service availability.

Here is our current status page: https://p.datadoghq.com/sb/cbf19e221-1b77fb05f2
I will look into specific monitors or alerts that may be helpful to add.

[2017-04-25 19:35] BonnyBoatswain opened #227 "Tracebacks when receiving issue_comment webhook: ForbiddenError: 403 Resource not accessible by integration"
Watching the production zuul logs for something unrelated, I see this traceback occasionally:

[code]

[2017-04-25 19:36] #227 closed, assigned to nobody

[2017-04-25 19:36] gandelman-a opened #228 "zuul traceback during issue_comment webhook handling"
Watching the production zuul logs, I see this traceback occasionally:

[code]

[2017-04-25 23:17] ConsoleCatzirl commented on #218
Restoring from backup does not remove files not in the backup, it only affects files in the archive.

I think this is fine for now, and if we decide we want to purge files not in the archive we can add that as a task in the restore playbook.

[2017-04-26 00:31] gandelman-a opened #229 "the gate pipeline does not trigger as expected"
I hit this on the sandbox repo after automating the PR filing and approval process.  the issue there was:

* Push a branch to a fork
* Propose PR
* Wait for check job to post back success status
* Approve PR as an account with write access
* Expect gate to trigger

The gate never ended up triggering if the approval happened close to the check job finishing.  Waiting some time (~60s) before adding

[2017-04-26 05:09] jamielennox opened #230 "Inconsistent host naming"
We now have a number of services that care about host names. Ansible, datadog and filebeat off the top of my head. Datadog and filebeat will look for the hostname from the system to determine which host emitted an event or a log. When ansible invokes the datadog callback it will use the inventory_hostname as the host.

This has a few negative effects:
1. I'm pretty sure because the hostnames match

[2017-04-26 06:05] jamielennox commented on #220
There's no way to add SSL to github pages with a custom domain. We could look into something like cachefly as an SSL termination and then redirect to us - but i don't see it as worth it.

I haven't used them before but i found https://www.netlify.com/ which has an impressive free for open source level and integrated with github to do builds on push, CDN and will handle SSL termination. When we end

[2017-04-26 06:06] jamielennox commented on #197
I'd be interested in something that can turn a datadog webhook into an IRC message. errbot/quatermaster would be a likely place for that as well.

[2017-04-26 18:54] SpamapS opened #231 "Select a presentation tool that allows presentations to exist as HTML on bonnyci.org"
- [X] Select tool  -- reveal.js
- [ ] Create example presentation as PR to bonnyci.org

[2017-04-26 18:55] SpamapS commented on #231
FYI, this one looks good and should be simple enough to use: https://github.com/hakimel/reveal.js

[2017-04-27 19:33] gandelman-a commented on #229
This looks to be caused by the cachecontrol library we're using for caching our github API requests.  AFAICS it always using the max-age headers to do time-based caching before it ever tries to send a conditional request with the cached etags: https://github.com/ionrock/cachecontrol/blob/master/cachecontrol/adapter.py#L39

[2017-04-27 20:15] #137 closed, assigned to missaugustina

[2017-04-27 20:16] missaugustina opened #232 "TravisCI Project Demographics"
Identify what projects are using TravisCI and initial discovery on what they have in common

https://github.com/BonnyCI/ci-plunder/milestone/2

[2017-04-27 20:17] missaugustina opened #233 "Measuring Value: Participation"
https://github.com/BonnyCI/ci-plunder/milestone/11

[2017-04-27 20:24] ConsoleCatzirl commented on #189
Since some contacts may not want their info to be public, I have created a box note to collect this information.

[2017-04-27 20:42] ConsoleCatzirl commented on #142
This has been done, we have a restart.yml playbook.

[2017-04-27 20:42] #142 closed, assigned to ConsoleCatzirl

[2017-04-27 22:18] rattboi opened #234 "Reminder feature for standups"
Standup notifies users at 10AM local time, but sometimes we're not ready or able to write your standup at that time.

A reminder every few hours seems like a reasonable thing.

[2017-04-27 23:29] omgjlk commented on #136
https://review.openstack.org/#/q/topic:github-v3 has been rebased after much work.

There are two more things from our tree I plan to cherry pick:
27df6082bea0f825ae5c5963178196ab63be087d
bae8b9c5cfc7c0e2d1965bfaa91239662deb3c90

There is also the Github Integration set of patches I'm asking @jamielennox to take a pass at:
cc1165171b0b3517126c5c05e1d87337be383208
6ba1dfe88531abb8410e703d7e4c03c688

[2017-04-28 21:53] omgjlk commented on #136
We had a meeting with Zuul upstream to go over some initial feedback on the patch set. It was decided to change a few things with regard to how the events are referenced in the layout.

There will be one event, `pull_request` with a variety of `action` options, such as `opened`, `reopened`, `comment`. Additionally there will be a `push` event that uses regexes to capture either a branch push or a

[2017-05-01 18:30] omgjlk commented on #110
Removing from Zuul 2.5 code complete as we'll be working on this upstream in v3 instead.

[2017-05-01 20:15] loafyloaf commented on #187
I'm going to call this complete.  Further monitors/alerts should probably be detailed in separate issues.

[2017-05-01 20:15] #187 closed, assigned to mlangbehn

[2017-05-01 20:21] #230 closed, assigned to nobody

[2017-05-01 20:30] omgjlk commented on #189
Who is this assigned to?

[2017-05-01 20:33] jasontclark commented on #202
Running into a small issue where testing locally via docker is not working; ansible playbook is failing.

[2017-05-01 20:56] jamielennox opened #235 "ForbiddenError: 403 Resource not accessible by integration"
I'm seeing a bunch of errors saying that there is an operation that could not be performed by integration. This is on zuul.v2.opentechsjc.bonnyci.org:

[code]

I haven't had a chance to look at why yet. It appears to have started a while ago, but is ramping up: https://elk.bonnyci.org/goto/be0bd4b5f1d99b99ef0081cb9770ac02

I think that tenacity might have been a bad idea. There is already a retrie

[2017-05-03 17:44] omgjlk commented on #202
Do you have output from where docker playbook is failing?

[2017-05-03 17:56] omgjlk commented on #235
Looking at github3.py, it appears that the `pull_request` method does an anonymous hit on the API to get the pull request details. https://github.com/sigmavirus24/github3.py/blob/b58ff53ce9607f71aeb06f46eefe991f83c5e83e/github3/github.py#L1012  seems like it should work, might have to set up an attempt outside of zuul to walk through, or put a rpdb debug statement in to catch when a 403 happens so

[2017-05-03 18:24] omgjlk commented on #235
I just learned that @SpamapS still had his repo(s) set up to use the web hook and user method, and was generating events. I wonder if this was causing zuul to try to use the integration API to fetch his PR, and since the integration isn't installed there, was getting a denial. I'm not sure if the timestamps line up, but seems plausible. Clint is going the integration route now, so maybe we'll see

[2017-05-03 18:47] ConsoleCatzirl commented on #188
Done

[2017-05-03 18:47] #188 closed, assigned to loafyloaf

[2017-05-04 18:22] mlangbehn opened #236 "Add option handling to docker-deploy.sh"

[2017-05-04 18:23] mlangbehn opened #237 "Make ansible deployment optional in docker-deploy.sh"

[2017-05-04 18:53] rattboi opened #238 "Vagrant-deploy is ignoring optional arguments"
Following the lore, I attempted to limit a vagrant ansible run to a specific host, and instead it ran the entire run for all vagrant hosts.

Command run: './tools/vagrant-deploy.sh --limit bastion'
Expected: runs the install-ci playbook against only the bastion.
Actual: The entire playbook is run against all vagrant hosts.

[2017-05-04 18:55] rattboi opened #239 "Vagrant-deploy is slow to run when hosts are already started"
vagrant-deploy.sh uses 'vagrant up' every time you use it. It's good to run that when your hosts aren't provisioned and running, but when they're already running, it's about 1:30 of wait time before the playbook can start running.

[2017-05-04 23:22] #173 closed, assigned to rattboi

[2017-05-05 03:48] #237 closed, assigned to mlangbehn

[2017-05-05 03:49] #236 closed, assigned to mlangbehn

[2017-05-05 03:50] mlangbehn commented on #238
Testing fix. Will open a pull request shortly.

[2017-05-05 14:09] #238 closed, assigned to mlangbehn

[2017-05-05 14:12] mlangbehn commented on #239
I solved this problem once a few years ago, and it was kind of ugly. I'm going to take a little time on this one and try to make it a bit nicer this time...

[2017-05-05 19:20] ConsoleCatzirl commented on #218
I think we can call this done

[2017-05-05 19:20] #218 closed, assigned to jasontclark, ConsoleCatzirl

[2017-05-08 18:06] #239 closed, assigned to mlangbehn

[2017-05-08 18:09] rattboi opened #240 "UWSGI emperor role doesn't handle restarts when vassal config changes"
The UWSGI role, used by a few of our services, doesn't properly restart when the underlying vassal configurations change. This affects the ARA role and the standup webapp services.

I have to HUP them manually to get the changes reflected, and that's no bueno.

[2017-05-08 18:10] rattboi opened #241 "Unsafe/annoying to restart standup bot because of in-mem state"
There's a few things that are kept in-memory that means that we have to be careful when we restart the bot, as the in-mem things are lost. This leads to double notifications for some people, and loss of in-progress uncommitted standups.

[2017-05-08 18:11] rattboi commented on #241
Moving all this state to sqlite seems the easiest route to me, and should protect us from the above issues.

[2017-05-09 17:27] gandelman-a opened #242 "ansible-runner users all require sudo to update the global ansible venv"
ansible-runner relies on a single virtualenv to be created in which we install ansible for all runner tasks, regardless of which user is running the task.  Because some tasks require python dependencies to be installed into this venv, each runner user currently requires sudo access, only because they need to update this global ansible virtualenv.  Instead, each runner task should have its own venv

[2017-05-09 20:21] jasontclark commented on #191
Placing this in the BLOCKED column.  I have yet to hear back from Vince Brunssen, to see if he will indeed secure a graphic design resource for us, and whether these mockups are satisfactory.

[2017-05-09 20:36] jasontclark commented on #116
Final Copy (Long)
=============
BonnyCI is an open source, continuous integration (CI) project that offers developers parallelized tests, gated code merges, and the ability to build/test software projects with cross repository dependencies. BonnyCI provides 'Project Gating-as-a-Service', spawning independent pipelines that ensure the correct order of code changes in parallel.  This 'gating system'

[2017-05-09 20:36] #116 closed, assigned to jasontclark, missaugustina

[2017-05-09 22:37] #215 closed, assigned to rattboi, eggshell

[2017-06-08 20:52] SpamapS commented on #241
Unfortunately, standup bot is dead. Closing.

[2017-06-08 20:52] #241 closed, assigned to rattboi

[2017-06-08 20:57] SpamapS commented on #235
I moved gearmand to integration configuration now. This has not been seen since May 26, however, I think nothing has been working since May 26 because of SSL init errors on Zuul

[2017-06-08 21:14] SpamapS commented on #235
A restart masked the SSL errors (maybe requests holds its cacert dir open and then we replaced it? Dunno). The original 403's are not happening. I'm going to close this as a v2 issue we can reopen if v3 shows it.

[2017-06-08 21:14] SpamapS commented on #234
Standup bot is dead. :(

[2017-06-08 21:14] #234 closed, assigned to nobody

[2017-06-08 21:16] SpamapS commented on #229
Done!

[2017-06-08 21:16] #229 closed, assigned to gandelman-a

[2017-06-08 21:17] SpamapS commented on #228
This is a duplicate of #235

[2017-06-08 21:17] #228 closed, assigned to nobody

[2017-06-08 21:25] SpamapS commented on #235
Actually I just saw this.

2017-06-08 21:17:00,675 DEBUG zuul.GithubWebhookListener: Github Webhook Received.
2017-06-08 21:17:00,677 DEBUG zuul.GithubWebhookListener: Payload Signature: sha1=95b8e9187c15b05e306348f3a4bddb3062897a9a
2017-06-08 21:17:00,677 DEBUG zuul.GithubWebhookListener: Request Signature: sha1=95b8e9187c15b05e306348f3a4bddb3062897a9a
2017-06-08 21:17:00,678 DEBUG zuul.GithubWeb

[2017-06-08 21:27] SpamapS commented on #197
no more quartermaster :-P

[2017-06-08 21:27] #197 closed, assigned to rattboi

[2017-06-08 21:29] #174 closed, assigned to jasontclark, rattboi

[2017-06-08 21:30] SpamapS commented on #139
This is running now.

[2017-06-08 21:30] #139 closed, assigned to gandelman-a, jamielennox

[2017-06-08 21:30] SpamapS commented on #138
It is what it is. :-/

[2017-06-08 21:30] #138 closed, assigned to jasontclark, SpamapS

[2018-02-01 21:40] omgjlk commented on #136
This is all done.

[2018-02-01 21:40] #136 closed, assigned to SpamapS, omgjlk

[2018-02-01 21:40] #37 closed, assigned to omgjlk